<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a href="#/" ng-if="vm.logoUrl">
                        <img alt="image" class="img-responsive" ng-src="{{vm.logoUrl}}">
                    </a>
                </div>
                <div class="logo-element">
                    Full Swing
                </div>
            </li>
            <li data-ng-class="vm.isCurrent(r, vm.getCurrentRoute())" data-ng-repeat="r in vm.getNavRoutes()">
                <a href="#{{r.originalPath}}">
                    <i ng-class="r.settings.displayIcon" class="fa"></i>
                    <span class="nav-label">{{r.settings.displayName}}</span>
                    <span class="fa arrow" ng-if="vm.hasChildItems(r)"></span>
                </a>

                <ul class="nav nav-second-level collapse" ng-repeat="childItem in vm.getChildItems(r)">
                    <li data-ng-class="vm.isCurrent(childItem, vm.getCurrentRoute())">
                        <a href="#{{childItem.originalPath}}">
                            {{childItem.displayName}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
</nav>
