<nav class="navbar-default navbar-static-side" role="navigation" data-ng-controller="Sidebar as vm">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle img-responsive" src="images/fs-logo.png">
                    </span>
                </div>
                <div class="logo-element">
                    Full Swing
                </div>
            </li>
            <li data-ng-class="vm.isCurrent(r)" data-ng-repeat="r in vm.navRoutes">
                <a href="#{{r.originalPath}}">
                    <i ng-class="r.settings.displayIcon" class="fa"></i>
                    <span class="nav-label">{{r.settings.displayName}}</span>
                </a>
            </li>
        </ul>

    </div>
</nav>
