<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
        <a href="/" class="navbar-brand"><span class="brand-title">{{vm.title}}</span></a>
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <div class="pull-right navbar-logo">
            <ul class="nav navbar-nav pull-right" ng-hide="vm.getUserIdentity().isLoggedIn">
                <li>
                    <a data-ng-href="{{vm.loginUrl}}">
                        Login
                    </a>
                </li>
                <li>
                    <a data-ng-href="{{vm.registerUrl}}">
                        Register
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right" ng-show="vm.getUserIdentity().isLoggedIn">
                <li>
                    <a data-ng-href="{{vm.manageUserUrl}}">Hello, {{vm.getUserIdentity().name}}</a>
                </li>
                <li>
                    <a data-ng-click="vm.logout()">
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>