<page-title>Event Selection</page-title>

<div ng-if="vm.anyEvents()">
    <section>
        <section-content>
            <super-action-button ng-disabled="!vm.isAnyEventsSelected()" ng-click="vm.submit()">Register</super-action-button>
        </section-content>
    </section>

    <section ng-repeat="eventsOnDay in vm.eventsByDays">
        <section-title>
            {{eventsOnDay.title}}
        </section-title>

        <section-content>
            <flex-box>
                <product-box class="col-md-4 col-sm-6 col-xs-12" ng-repeat="theEvent in eventsOnDay.events | orderBy:'startTime'">
                    <product-title>{{theEvent.name}}</product-title>

                    <product-description>
                        <display-date format='time' ng-model='theEvent.startTime'></display-date> -
                        <display-date format='time' ng-model='theEvent.endTime'></display-date>
                    </product-description>

                    <product-action>
                        <label ng-if="!theEvent.isRegistered">
                            <input type="checkbox" icheck ng-model="theEvent.registerIn"> Register
                        </label>
                        <label ng-if="theEvent.isRegistered">
                            Already registered
                        </label>
                    </product-action>
                </product-box>
            </flex-box>

        </section-content>

    </section>

    <section>
        <section-content>
            <super-action-button ng-disabled="!vm.isAnyEventsSelected()" ng-click="vm.submit()">Register</super-action-button>
        </section-content>
    </section>
</div>

<div ng-if="!vm.anyEvents()">
    <section>
        <section-content>
            <p class="lead">
                There are no events available to register for
            </p>
        </section-content>
    </section>
</div>
