<div ng-form="announcementForm">

    <div>
        <select ng-options="type.value as type.display for type in vm.announcementTypes" ng-model="ngModel.type">
            <option value="">Please select a type</option>
        </select>
    </div>
    <div>
        <div class="checkbox">
            <input type="checkbox" ng-model="ngModel.notify_all"> Everyone
        </div>
        <div class="checkbox" ng-repeat="block in vm.blocks | orderBy: 'name'" ng-if="!ngModel.notifyAll">
            <input type="checkbox" name="ngModel.receivers[]" value="{{block.name}}" ng-checked="ngModel.receivers.indexOf(block) > -1" ng-click="vm.toggleReceiver(block)"> {{block.name}} - starting
            <display-date format='short date' ng-model='block.start_date'></display-date>
        </div>

        <div ng-if="ngModel.type === 'banner'">

            <common-date-time-input ng-model="ngModel.show_from" name="show_from" display-name="Show From" required="true"></common-date-time-input>
            <common-date-time-input ng-model="ngModel.show_until" name="show_until" display-name="Show Until" required="true"></common-date-time-input>
        </div>

        <common-input ng-model="ngModel.message" name="message" display-name="Message" type="text" required="true">
        </common-input>
        <a class="btn btn-default" ng-click="options.cancel(ngModel)">{{options.cancelText}}</a>
        <a class="btn btn-default pull-right" ng-disabled="form.$invalid" ng-click="options.submit(ngModel)">{{options.submitText}}</a>

    </div>
