<a class="btn btn-link" popover-template="'myPopoverTemplate.html'" popover-append-to-body popover-title="{{vm.title}}">
    <i class="fa fa-comment"></i>
</a>


<script type="text/ng-template" id="myPopoverTemplate.html">
    <div ng-hide="vm.editing">
        {{vm.displayNote()}}
        <span class="fa fa-pencil" ng-click="vm.edit()"></span>
        <span ng-show="ngModel.note" class="fa fa-times" ng-click="vm.remove()"></span>
    </div>
    <div class="form-group" ng-show="vm.editing">
        <input type="text" ng-model="ngModel.note" class="form-control">
        <a class="btn btn-link" ng-click="vm.save()">
            <i class="fa fa-save"></i>
        </a>
        <a class="btn btn-link" ng-click=" vm.cancel() ">
            <i class="fa fa-times "></i>
        </a>
    </div>

</script>
