<div class="row">
    <h1>Manage Your Details</h1>
    <form name="updateForm" novalidate>
        <div class="col-xs-12 col-sm-6">

            <!--first name-->
            <div class="form-group col-xs-12" ng-class="{'has-error':(updateForm.firstName.$invalid && updateForm.firstName.$touched) || updateForm.firstName.serverError}">
                <input class="form-control" id="firstName" name="firstName" type="text" placeholder="First Name" ng-model="vm.user.firstName" />
                <validation-error ng-model="updateForm.firstName" error="required" message="First name is required."></validation-error>
                <server-error ng-model="updateForm.firstName"></server-error>
            </div>

            <!--surname-->
            <div class="form-group col-xs-12" ng-class="{'has-error':(updateForm.surname.$invalid && updateForm.surname.$touched) || updateForm.surname.serverError}">
                <input class="form-control" id="surname" name="surname" type="text" placeholder="Surname" ng-model="vm.user.surname" required/>
                <server-error ng-model="updateForm.surname"></server-error>
            </div>

            <!--email-->
            <div class="form-group col-xs-12" ng-class="{'has-error':(updateForm.email.$invalid && updateForm.email.$touched) || updateForm.email.serverError}">
                <input class="form-control" id="email" name="email" type="text" placeholder="Email" ng-model="vm.user.email" required/>
                <server-error ng-model="updateForm.email"></server-error>
            </div>

            <!--password-->
            <div class="form-group col-xs-12" ng-class="{'has-error':(updateForm.password.$invalid && updateForm.password.$touched) || updateForm.email.serverError}">
                <input class="form-control" id="password" name="password" type="password" placeholder="Password (Required)" ng-model="vm.user.password" required/>
                <validation-error ng-model="registerForm.password" error="required" message="Password is required."></validation-error>
                <server-error ng-model="updateForm.password"></server-error>
            </div>

            <div class="form-group col-xs-12">
                <button class="btn btn-primary pull-right" ng-click="vm.updateUser(updateForm)" ng-disabled="updateForm.$invalid">
                    Update
                </button>
            </div>
        </div>
    </form>
</div>
