<page-title>Students</page-title>

<section>
    <section-title>
        Search
    </section-title>

    <section-content>
        <section-form ng-form="filterForm">
            <section-group input-name="search">
                <section-group-label>Filter</section-group-label>

                <section-group-content>
                    <input name="search" type="text" class="form-control" ng-model="vm.filter.search" placeholder="Name" />
                </section-group-content>
            </section-group>

            <section-group-separator></section-group-separator>
        </section-form>

        <p>
            Showing: {{(vm.students | filter:{fullName: vm.filter.search}).length}} students
        </p>


        <table class="table table-hover" ts-wrapper>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="student in vm.students | filter:{fullName: vm.filter.search} | orderBy: 'fullName'">
                    <td>{{student.fullName}}</td>
                    <td>{{student.email}}</td>
                    <td>
                        <a ng-click="vm.launchStudent(student)" class="btn">Manage</a>
                    </td>
                </tr>
                <tr no-items-row items="vm.filteredStudents"></tr>

            </tbody>
        </table>
    </section-content>
</section>
