<page-title>Settings</page-title>

<section>
    <section-title>
        Logo
    </section-title>

    <section-content>
        <section-form>
            <section-group>
                <section-group-label>Logo url</section-group-label>

                <section-group-content>
                    <input name="logo" type="text" class="form-control" ng-model="vm.logo">
                    <help-text>
                        Url to your logo image
                    </help-text>
                </section-group-content>
            </section-group>

            <section-group-separator></section-group-separator>

            <section-group>
                <cancel-button href="#/">Cancel</cancel-button>
                <save-button class="btn btn-primary pull-right" ng-click="vm.submitLogo()">Save changes</save-button>
            </section-group>

        </section-form>
    </section-content>
</section>
