<form ng-hide="vm.registrationSuccessful" name="registerForm" novalidate>
    <div class="row">

        <!--first name-->
        <div class="form-group col-xs-12" ng-class="{'has-error':(registerForm.first_name.$invalid && registerForm.first_name.$touched) || registerForm.first_name.serverError}">
            <input class="form-control" id="first_name" name="first_name" type="text" placeholder="First Name (required)" ng-model="vm.newUser.first_name" required/>
            <validation-error ng-model="registerForm.first_name" error="required" message="First name is required."></validation-error>
            <server-error ng-model="registerForm.first_name"></server-error>
        </div>

        <!--surname-->
        <div class="form-group col-xs-12" ng-class="{'has-error':(registerForm.surname.$invalid && registerForm.surname.$touched) || registerForm.surname.serverError}">
            <input class="form-control" id="surname" name="surname" type="text" placeholder="Surname (required)" ng-model="vm.newUser.surname" required/>
            <validation-error ng-model="registerForm.surname" error="required" message="Surname is required."></validation-error>
            <server-error ng-model="registerForm.surname"></server-error>
        </div>

        <!--email-->
        <div class="form-group col-xs-12" ng-class="{'has-error':(registerForm.email.$invalid && registerForm.email.$touched) || registerForm.email.serverError}">
            <input class="form-control" id="email" name="email" type="text" placeholder="Email (required)" ng-model="vm.newUser.email" required/>
            <validation-error ng-model="registerForm.email" error="required" message="Email is required."></validation-error>
            <server-error ng-model="registerForm.email"></server-error>
        </div>

        <!--password-->
        <div class="form-group col-xs-12" ng-class="{'has-error':(registerForm.password.$invalid && registerForm.password.$touched) || registerForm.email.serverError}">
            <input class="form-control" id="password" name="password" type="password" placeholder="Password (required)" ng-model="vm.newUser.password" required/>
            <validation-error ng-model="registerForm.password" error="required" message="Password is required."></validation-error>
            <server-error ng-model="registerForm.password"></server-error>
        </div>

        <div class="form-group col-xs-12">
            <button class="btn btn-primary pull-right" ng-click="vm.registerNewUser(registerForm)" ng-disabled="registerForm.$invalid">
                Register
            </button>
            <button class="btn btn-primary" ng-click="vm.cancelNewAccount()" ng-show="vm.cancelNewAccount">
                Cancel
            </button>
        </div>
    </div>
</form>
