<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">

                <div class="widget wviolet">
                    <div data-cc-widget-header title="{{vm.title}}"></div>
                      <form class="form-horizontal" name="registerForm" novalidate>

                              <div class="form-group"
                                   ng-class="{'has-error':registerForm.name.$invalid && registerForm.name.$dirty}">
                                  <label class="col-md-2 control-label" for="name">Username</label>

                                  <div class="col-md-4">
                                      <input class="form-control"
                                             id="username"
                                             name="username"
                                             type="text"
                                             placeholder="Username (required)"
                                             ng-model="vm.user.username"
                                             required
                                             ng-minlength="4"
                                             ng-maxlength="12"/>
                                  </div>
                                  <span class="help-block has-error">
                                      <span ng-show="registerForm.username.$error.required">
                                          Username is required.
                                      </span>
                                      <span ng-show="registerForm.username.$error.minlength">
                                          Username must be at least 4 characters in length.
                                      </span>
                                      <span ng-show="registerForm.username.$error.maxlength">
                                          Username cannot exceed 12 characters in length.
                                      </span>
                                  </span>
                              </div>
                              <div class="form-group"
                                   ng-class="{'has-error':registerForm.email.$invalid && registerForm.email.$dirty}">
                                  <label class="col-md-2 control-label" for="email">Email</label>

                      			 <div class="col-md-4">
                                      <input class="form-control"
                                             id="password"
                                             name="password"
                                             type="password"
                                             placeholder="Password (required)"
                                             ng-model="vm.user.password"
                                             required
                                             ng-minlength="4"
                                             ng-maxlength="12"/>
                      			</div>
                                
                              </div>

                              <div class="form-group">
                                  <div class="col-md-4 col-md-offset-2">
                                          <span>
                                              <button class="btn btn-primary"
                                                      style="width:80px;margin-right:10px"
                                                      ng-click="vm.register()"
                                                      ng-disabled="registerForm.$invalid">
                                                  Register
                                              </button>
                                          </span>
                                          <span>
                                              <button class="btn btn-default"
                                                      style="width:70px"
                                                      ng-click="vm.cancel()">
                                                  Cancel
                                              </button>
                                          </span>
                                  </div>
                              </div>

                      </form>

                    </div>
                </div>

            </div>
        </div>
    </section>
</section>