<section class="push-down-64">
    <section class="matter">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-lg-offset-4 well">
                    <h3 class="text-center">{{vm.title}}</h3>
                      <form class="form-horizontal" name="registerForm" novalidate>
                          <div class="has-error" ng-repeat="error in registerForm.serverErrors">
                            <span >
                                {{error}}
                            </span>
                        </div>
                              <div class="form-group"
                                   ng-class="{'has-error':registerForm.first_name.$invalid && registerForm.first_name.$touched}">
                                  <div class="col-xs-12">
                                      <input class="form-control col-xs-12"
                                             id="first_name"
                                             name="first_name"
                                             type="text"
                                             placeholder="First Name (required)"
                                             ng-model="vm.person.first_name"
                                             required/>
                                  </div>
                                  <div class="help-block has-error">
                                      <span ng-show="registerForm.first_name.$error.required && registerForm.first_name.$touched">
                                          First Name is required.
                                      </span>
                                      <span ng-show="registerForm.first_name.serverError">
                                          {{registerForm.first_name.serverError}}
                                      </span>
                                  </div>
                              </div>
                              <div class="form-group"
                                   ng-class="{'has-error':registerForm.surname.$invalid && registerForm.surname.$touched}">

                             <div class="col-xs-12">
                                      <input class="form-control"
                                             id="surname"
                                             name="surname"
                                             type="text"
                                             placeholder="Surname (required)"
                                             ng-model="vm.person.surname"
                                             required/>
                            </div>
                                
                              </div>
                              <div class="form-group"
                                   ng-class="{'has-error':registerForm.role.$invalid && registerForm.role.$touched}">

                             <div class="col-xs-12">
                                <select required class="col-xs-12"
                                  ng-model="vm.person.role" ng-options="role.value as role.display for role in vm.roles">
                                  <option value="">-- choose role --</option>
                                </select>
                            </div>
                                
                              </div>
                              <div>
                                <button class="btn btn-primary col-xs-12"
                                        ng-click="vm.register(registerForm)"
                                        ng-disabled="registerForm.$invalid">
                                    Register
                                </button>

                              </div>

                      </form>

                    </div>
                </div>

            </div>
        </div>
    </section>
</section>