
<ng-form role="form" name="noticeForm" novalidate>

    <div class="has-error" ng-repeat="error in noticeForm.serverErrors">
        <span >
            {{error}}
        </span>
    </div>

    <div class="form-group">
        <label for="name">Message</label>
        <input type="text" class="form-control" id="message" name="message" placeholder="Message" 
        ng-model="notice.message" required>

      <div class="has-error">
          <span class="has-error" ng-show="noticeForm.message.$error.required && noticeForm.message.$touched">
              Message is required.
          </span>
          <span ng-show="noticeForm.message.serverError">
              {{noticeForm.message.serverError}}
          </span>
      </div>
    </div>

    <div class="form-group">
        <label for="startDate">Start Date</label>
        <input type="date" class="form-control" id="startDate" name="startdate" placeholder="Start Date" 
        ng-model="notice.start_date" required>

          <div class="has-error">
              <span ng-show="noticeForm.startdate.serverError">
                  {{noticeForm.startdate.serverError}}
              </span>
          </div>
    </div>

    <div class="form-group">
        <label for="endDate">End Date</label>
        <input type="date" class="form-control" id="endDate" name="enddate" placeholder="End Date" 
        ng-model="notice.end_date" required>

          <div class="has-error">
              <span ng-show="noticeForm.enddate.serverError">
                  {{noticeForm.enddate.serverError}}
              </span>
          </div>
    </div>

    <a class="btn btn-default" data-ng-click="vm.submitNotice(notice, noticeForm)" data-ng-disabled="noticeForm.$invalid || noticeForm.$pristine">{{vm.getSubmitText(notice)}}</a>
    <a class="btn btn-default" data-ng-click="vm.cancel(notice, vm.notices)">Cancel</a>
</ng-form>