<div block-ui="upcomingSchedule">
    <widget>
        <widget-title>
            Upcoming Schedule
        </widget-title>

        <p ng-if="vm.upcomingSchedule.length === 0">
            Nothing scheduled for this week.
        </p>
        <p ng-repeat="event in vm.upcomingSchedule">
            {{event.name}} |
            <display-date format='time and day' ng-model='event.startTime'></display-date>
        </p>
        <p ng-if="vm.errorMessage">{{vm.errorMessage}}</p>
    </widget>
</div>
