<div class="ibox float-e-margins" block-ui="upcomingSchedule">
    <div class="ibox-content">
        <h2>Upcoming Schedule</h2>
        <p ng-if="vm.upcomingSchedule.length === 0">
            Nothing scheduled for this week.
        </p>
        <p ng-repeat="event in vm.upcomingSchedule">
            {{event.name}} |
            <display-date format='time and day' ng-model='event.startTime'></display-date>
        </p>
        <p ng-if="vm.errorMessage">{{vm.errorMessage}}</p>
    </div>
</div>
