<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget worange">
                    <div data-cc-widget-header title="{{vm.title}}"></div>
                    <div class="widget-content user">
                		<div class="user">
                            <form role="form" novalidate name="createCourseForm">

                                <div class="has-error" ng-repeat="error in createCourseForm.serverErrors">
                                    <span >
                                        {{error}}
                                    </span>
                                </div>

                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Name" 
                                    ng-model="vm.course.name" required>

                                  <div class="has-error">
                                      <span class="has-error" ng-show="createCourseForm.name.$error.required && createCourseForm.name.$touched">
                                          Name is required.
                                      </span>
                                      <span ng-show="createCourseForm.name.serverError">
                                          {{createCourseForm.name.serverError}}
                                      </span>
                                  </div>
                                </div>

                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <input type="text" class="form-control" id="description" name="description" placeholder="Description" 
                                    ng-model="vm.course.description">

                                      <div class="has-error">
                                          <span ng-show="createCourseForm.description.serverError">
                                              {{createCourseForm.description.serverError}}
                                          </span>
                                      </div>
                                </div>

                                <div class="form-group">
                                    <label for="startDate">Start Date</label>
                                    <input type="date" class="form-control" id="startDate" name="startdate" placeholder="Start Date" 
                                    ng-model="vm.course.startDate" required>

                                      <div class="has-error">
                                          <span ng-show="createCourseForm.startdate.serverError">
                                              {{createCourseForm.startdate.serverError}}
                                          </span>
                                      </div>
                                </div>

                                <div class="form-group">
                                    <label for="endDate">End Date</label>
                                    <input type="date" class="form-control" id="endDate" name="enddate" placeholder="End Date" 
                                    ng-model="vm.course.enddate" required>

                                      <div class="has-error">
                                          <span ng-show="createCourseForm.endDate.serverError">
                                              {{createCourseForm.enddate.serverError}}
                                          </span>
                                      </div>
                                </div>

                                <div class="form-group">
                                    <label for="gradeType">Grade Type</label>
                                    <select required id="gradetype" name="gradetype"
                                      ng-model="vm.course.gradetype" ng-options="gradeType.value as gradeType.display for gradeType in vm.gradeTypes">
                                      <option value="">-- choose grade type --</option>
                                    </select>
                                      <div class="has-error">
                                          <span ng-show="createCourseForm.gradetype.serverError">
                                              {{createCourseForm.gradetype.serverError}}
                                          </span>
                                      </div>
                                </div>
                                <button class="btn btn-default" ng-click="vm.createCourse(createCourseForm)" ng-disabled="createCourseForm.$invalid">Create</button>
                            </form>
                		</div>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
