<section id="dashboard-view" class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="widget wviolet">
                        <div data-cc-widget-header title="Course Notices"
                             allow-collapse="true"></div>
                        <div class="widget-content text-center text-info">
                            <div data-ng-repeat="notice in vm.courseNotices">
                                <div>
                                    <h5>{{notice.course.name}}</h5>
                                    <p>{{notice.message}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="widget wgreen">
                        <div data-cc-widget-header title="Upcoming Deadlines"
                             allow-collapse="true"></div>
                        <div class="widget-content text-center text-info">
                            <div data-ng-repeat="courseWork in vm.upcomingDeadline">
                                <div>
                                    <h5>{{courseWork.course.name}}</h5>
                                    <p>
                                        {{courseWork.name}} 
                                        <span data-ng-if="courseWork.type === assignment"> is due {{courseWork.end_date}}</span>
                                        <span data-ng-if="courseWork.type === exam"> is on {{courseWork.start_time}} </span>
                                        <small data-ng-if="courseWork.final_mark_percentage > 0"> - worth {{courseWork.final_mark_percentage}}% </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="widget wgreen">
                        <div data-cc-widget-header title="Upcoming Lectures"
                             allow-collapse="true"></div>
                        <div class="widget-content text-center text-info">
                            <div data-ng-repeat="lecture in vm.upcomingLectures">
                                <div>
                                    <h5>{{lecture.course.name}} - {{lecture.start_date}}</h5>
                                    <p>
                                        {{lecture.location}} 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="widget wgreen">
                        <div data-cc-widget-header title="Recent Grades"
                             allow-collapse="true"></div>
                        <div class="widget-content text-center text-info">
                            <div data-ng-repeat="grade in vm.recentGrades">
                                <div>
                                    <h5>{{grade.courseName}} - {{grade.courseWorkName}}</h5>
                                    <p>
                                        {{grade.gradePercentage}} 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>