<div class="passwordBox animated fadeInDown">
    <div class="row">

        <div class="col-md-12">
            <div class="ibox-content">

                <h2 class="font-bold">Forgot password</h2>

                <p ng-hide="vm.isSubmitted">
                    Enter your email address and your password will be reset and emailed to you.
                </p>

                <div class="row" ng-hide="vm.isSubmitted">

                    <div class="col-lg-12">
                        <form class="m-t" role="form" name="forgottenPasswordForm" novalidate>

                            <input-block name="email">
                                <input class="form-control" id="email" name="email" type="email" placeholder="Email" ng-model="vm.email" required/>
                                <validation error="required" name="email">Please enter your email</validation>
                                <validation error="email" name="email">Please enter a valid email</validation>
                            </input-block>

                            <a class="btn btn-primary block full-width m-b" ng-click="vm.submit(forgottenPasswordForm)" ng-disabled="forgottenPasswordForm.$invalid">Send new password</a>

                        </form>
                    </div>
                </div>

                <p ng-show="vm.isSubmitted">
                    Great, you can expect an email from us shortly
                </p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            Copyright Full Swing
        </div>
        <div class="col-md-6 text-right">
            <small>© 2015</small>
        </div>
    </div>
</div>
