<section class="mainbar">
  <section class="matter">
    <div class="container">
     <div class="row">
      <h1>Manage Blocks</h1>
       <div ng-repeat="block in vm.blocks" ng-controller="ManageBlock as vm" ng-init="vm.block = block">
        <div>
          {{vm.block.name}}  starting <display-date format="short date" ng-model="vm.block.start_date"></display-date>
          <a ng-hide="vm.updating" ng-click="vm.startUpdating()" class="btn btn-default">Manage</a>
          <a ng-click="vm.delete()" class="btn default">Delete</a>
        </div>
        <div ng-show="vm.updating">
          <form novalidate name="form">
            <div ng-include src="'block.html'">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
</section>

<script type="text/ng-template" id="block.html">
  <common-input ng-model="vm.block.name" name="name" display-name="Name" type="text" required="true"></common-input>
  <a class="btn btn-default"ng-click="vm.cancel(form)">{{vm.cancelText}}</a>
  <a class="btn btn-default pull-right" ng-disabled="form.$invalid" ng-click="vm.submit(form)">{{vm.submitText}}</a>
</div>
</script>