<div class="row">
    <h1>Manage Blocks</h1>

    <a href="#/admin/manage/blocks/create" class="btn btn-primary">Create New Block</a>

    <table class="table table-hover" ts-wrapper>
        <thead>
            <tr>
                <th ts-criteria="name" ts-default>Name</th>
                <th ts-criteria="status">Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="block in vm.blocks">
                <td>{{block.name}}</td>
                <td>{{block.status}}</td>
                <td>
                    <a ng-href="#/admin/manage/blocks/{{block.id}}/update" class="btn btn-link">Manage</a>
                    <a ng-click="vm.delete(block)" class="btn btn-link">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

</div>
