<section class="push-down-64">
    <section class="matter">
        <div class="container">
            <div class="row" ng-form="registrationForm">

                <div class="jumbotron">
                    <h1>Windy Lindy Payment!</h1>
                    <p>You must pay to attend this rodeo, mother fucker</p>
                </div>

                <item-summary description="vm.registration.type" amount="vm.registration.amount"></item-summary>
                <div class="panel panel-default" ng-form="paymentOptionsForm">
                    <div class="panel-heading">
                        <h3 class="panel-title">Payment Options</h3>
                    </div>
                    <div class="panel-body">
                        <payment-option-selection ng-model="vm.paymentOption"></payment-option-selection>
                    </div>
                </div>

                <div class="panel panel-default" ng-if="vm.paymentOption">
                    <div class="panel-heading">
                        <h3 class="panel-title">Next Steps</h3>
                    </div>
                    <div class="panel-body">
                        <payment-option-display ng-model="vm.paymentOption" payment-config="vm.paymentConfig"></payment-option-display>
                    </div>
                </div>

            </div>
        </div>
    </section>
</section>
