<section class="push-down-64">
    <section class="matter">
        <div class="container">
            <div class="row">

                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 well">
                    <h3 class="text-center">Reset Password</h2>

                      <form name="resetPasswordForm" novalidate ng-hide="vm.isSubmitted">
                        <div class="row">
                          <div class="form-group col-xs-12" ng-class="{'has-error':resetPasswordForm.password.$invalid && resetPasswordForm.password.$touched}">
                            <input class="form-control"
                                   type="password"
                                   id="password"
                                   name="password"
                                   placeholder="Password"
                                   ng-model="vm.password"
                                   required>
                            <validation-error ng-model="resetPasswordForm.password" error="required" message="Password is required."></validation-error>
                          </div>

                          <div class="form-group col-xs-12">
                            <button class="btn btn-primary pull-right"
                                    ng-click="vm.submit(resetPasswordForm)"
                                    ng-disabled="resetPasswordForm.$invalid">
                                Reset
                            </button>
                          </div>


                        </div>
                        

                      </form>

                      <div ng-show="vm.isSubmitted">
                        Your password has been reset. <a data-ng-href="{{vm.loginUrl}}">Click here to log in</a>
                      </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
</section>