<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Block Selection</h3>
                  </div>
                  <div ng-show="vm.areBlocksLoading" class="panel-body">Loading blocks...</div>
                  <div ng-hide="vm.areBlocksLoading" class="panel-body">
                    <p ng-show="vm.blocks.length > 0">Go ahead and select the blocks you want to enrol in</p>
                    <p ng-show="vm.blocks.length === 0">
                        There are no blocks available to be enrolled in
                    </p>
                  </div>
                    <ul ng-hide="vm.areBlocksLoading" class="list-group" data-ng-repeat="block in vm.blocks">
                        <li class="list-group-item">
                            
                            <div class="form-group">
                                <display-date format='long date' ng-model='block.start_date'></display-date> {{block.level.name}} - <display-date format='time' ng-model='block.start_date'></display-date>
                                <input type="checkbox" data-ng-model="block.enrolIn">
                            </div>
                        </li>
                      </ul>
                </div>
            </div>

            <div class="row">

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Pass Selection</h3>
                  </div>
                  <div ng-show="vm.arePassesLoading" class="panel-body">Loading passes...</div>
                  <div ng-hide="vm.arePassesLoading" class="panel-body">
                    <div ng-show="vm.passOptions.length > 0">
                        <p>Go ahead and select the pass that works for you</p>
                        <div class="radio">
                          <label>
                            <input type="radio" name="passOptions" data-ng-model="vm.selectedPass" value="">
                                Sort out in class
                          </label>
                        </div>
                        <div class="radio" data-ng-repeat="pass in vm.passOptions">
                          <label>
                            <input type="radio" name="passOptions" data-ng-model="$parent.vm.selectedPass" ng-value="pass">
                                {{pass.description}} - ${{pass.value}}.00
                          </label>
                        </div>
                    </div>
                    <p ng-show="vm.passOptions.length === 0">
                        There are no pass options available
                    </p>
                  </div>
                </div>
            </div>
            <div class="row">
                <button class="btn btn-primary" ng-disabled="!vm.isAnythingToSubmit()" ng-click="vm.submit()">Enrol</button>
            </div>
        </div>
    </section>
</section>
