<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget worange">
                    <div data-cc-widget-header title="{{vm.title}}"></div>
                    <div class="widget-content user">
                		<div class="user">
                			<h5>Calculated Grade - {{vm.calculatedGrade}}</h5>
                			<div class="user-details">
                                <div>
                                    <h6>Gradable Course Work</h6>
                                    <div data-ng-repeat="courseWork in vm.courseWorks">
                                        <div>{{courseWork.name}} - {{courseWork.final_mark_percentage}}% of final mark</div>
                                        <div class="clearfix"><!-- 
                                            <input type="text" ng-model="courseWork.grade_percentage" ng-change="vm.recalculateGrade()"></input> -->
                                            <slider ng-model="courseWork.grade_percentage" min="0" step="1" max="100" value="courseWork.grade_percentage" formatter="vm.recalculateGrade()" change="vm.recalculateGrade()"></slider>
                                            <a class="btn btn-primary" ng-click="vm.saveGrade(courseWork)">Save Grade</a>
                                        </div>
                                    </div>
                                </div>
                			</div>
                		</div>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
