<div class="panel-body">
    <table class="table table-hover" ts-wrapper>
        <thead>
            <tr>
                <th select-all-header collection="vm.events"></th>
                <th hide-if-selected items="vm.events" ts-criteria="name" ts-default>Name</th>
                <th hide-if-selected items="vm.events" ts-criteria="date">Date</th>
                <th hide-if-selected items="vm.events" ts-criteria="day">Day</th>
                <th hide-if-selected items="vm.events" ts-criteria="time">Time</th>
                <th hide-if-not-selected items="vm.events">
                    <a class="btn btn-danger" ng-click="vm.confirmDelete()">Delete</a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="theEvent in vm.events">
                <td select-item item="theEvent"></td>
                <td>
                    <a ng-href="#/admin/manage/events/{{theEvent.id}}" class="btn btn-link">{{theEvent.name}}</a>
                </td>
                <td>{{theEvent.startTime | date: 'dd MMMM'}}</td>
                <td>{{theEvent.startTime | date: 'EEEE'}}</td>
                <td>{{theEvent.startTime | date: 'HH:mm'}}</td>
            </tr>

            <tr no-items-row items="vm.events"></tr>
        </tbody>
    </table>
</div>
