<table class="table table-hover" ts-wrapper>
    <thead>
        <tr>
            <th>
                <input type="checkbox" ng-model="vm.selectAll" ng-click="vm.selectAllClicked()">
            </th>
            <th ng-if="!vm.anySelected()" ts-criteria="name" ts-default>Name</th>
            <th ng-if="!vm.anySelected()" ts-criteria="date">Between</th>
            <th ng-if="!vm.anySelected()" ts-criteria="day">Day</th>
            <th ng-if="!vm.anySelected()" ts-criteria="time">Time</th>
            <th ng-if="vm.anySelected()">
                <a class="btn btn-primary" ng-click="vm.generateSelected()">Generate Next Blocks</a>
                <a class="btn btn-danger" ng-click="vm.deleteSelected()">Delete</a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="block in vm.blocks | filter:{'status': vm.status}">
            <td>
                <input type="checkbox" ng-model="block.selected">
            </td>
            <td>
                <a ng-href="#/admin/manage/blocks/{{block.id}}" class="btn btn-link">{{block.name}}</a>
            </td>
            <td>{{block.startDate | date: 'dd MMM'}} - {{block.endDate | date: 'dd MMM'}}</td>
            <td>{{block.startDate | date: 'EEEE'}}</td>
            <td>{{block.startDate | date: 'HH:mm'}}</td>
        </tr>
    </tbody>
</table>
