<div class="panel-body">
    <table class="table table-hover" ts-wrapper>
        <thead>
            <tr>
                <th select-all-header collection="vm.blocks"></th>
                <th hide-if-selected items="vm.blocks" ts-criteria="name" ts-default>Name</th>
                <th hide-if-selected items="vm.blocks" ts-criteria="date">Between</th>
                <th hide-if-selected items="vm.blocks" ts-criteria="day">Day</th>
                <th hide-if-selected items="vm.blocks" ts-criteria="time">Time</th>
                <th hide-if-not-selected items="vm.blocks">
                    <a class="btn btn-primary" ng-click="vm.confirmGenerate()">Generate Next Blocks</a>
                    <a class="btn btn-danger" ng-click="vm.confirmDelete()">Delete</a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="block in vm.blocks">
                <td select-item item="block"></td>
                <td>
                    <a ng-href="#/admin/manage/blocks/{{block.id}}" class="btn btn-link">{{block.name}}</a>
                </td>
                <td>{{block.startDate | date: 'dd MMM'}} - {{block.endDate | date: 'dd MMM'}}</td>
                <td>{{block.startDate | date: 'EEEE'}}</td>
                <td>{{block.startDate | date: 'HH:mm'}}</td>
            </tr>

            <tr no-items-row items="vm.blocks"></tr>
        </tbody>
    </table>
</div>
