<section-group input-name="name">
    <section-group-label>Name</section-group-label>

    <section-group-content>
        <input name="name" type="text" class="form-control" ng-model="vm.standAloneEvent.name" required />
        <validation-messages input-name="name">
            <div ng-message="required">Please enter a name</div>
        </validation-messages>
        <server-validation-messages input-name="name" messages="vm.serverValidation"></server-validation-messages>
    </section-group-content>
</section-group>

<section-group-separator></section-group-separator>
<section-group input-name="price">
    <section-group-label>Price</section-group-label>

    <section-group-content>
        <input name="price" type="text" class="form-control" ng-model="vm.standAloneEvent.price" required />
        <validation-messages input-name="price">
            <div ng-message="required">Please enter a price</div>
        </validation-messages>
        <server-validation-messages input-name="price" messages="vm.serverValidation"></server-validation-messages>
    </section-group-content>
</section-group>

<section-group-separator></section-group-separator>
<section-group input-name="startTime">
    <section-group-label>Start Time</section-group-label>

    <section-group-content>
        <jfc-date-time-picker ng-model="vm.standAloneEvent.startTime" name="startTime"></jfc-date-time-picker>
        <validation-messages input-name="startTime">
            <div ng-message="required">Please enter a start time</div>
        </validation-messages>
    </section-group-content>
</section-group>

<section-group-separator></section-group-separator>
<section-group input-name="endTime">
    <section-group-label>End Time</section-group-label>

    <section-group-content>
        <jfc-date-time-picker ng-model="vm.standAloneEvent.endTime" name="endTime"></jfc-date-time-picker>
        <validation-messages input-name="endTime">
            <div ng-message="required">Please enter an end time</div>
        </validation-messages>
    </section-group-content>
</section-group>

<section-group-separator></section-group-separator>

<section-group input-name="classCapacity">
    <section-group-label>Class Capacity</section-group-label>

    <section-group-content>
        <input name="classCapacity" type="number" class="form-control" ng-model="vm.standAloneEvent.classCapacity" required/>
        <validation-messages input-name="classCapacity">
            <div ng-message="required">Please enter the maximum number of students</div>
        </validation-messages>
    </section-group-content>
</section-group>

<section-group-separator></section-group-separator>

<section-group>
    <section-group-label>Teachers</section-group-label>

    <section-group-content>
        <teacher-dropdown ng-model="vm.standAloneEvent.teachers"></teacher-dropdown>
    </section-group-content>
</section-group>

<section-group-separator></section-group-separator>

<section-group input-name="teacherRate">
    <section-group-label>Teacher Rate</section-group-label>

    <section-group-content>
        <input name="teacherRate" type="number" class="form-control" ng-model="vm.standAloneEvent.teacherRate" required>
        <help-text>
            How much each teacher will be paid for this event
        </help-text>
        <validation-messages input-name="teacherRate">
            <div ng-message="required">Please enter a value</div>
        </validation-messages>
    </section-group-content>
</section-group>

<section-group-separator></section-group-separator>

<section-group input-name="isPrivate">
    <section-group-label>Is Private</section-group-label>

    <section-group-content>
        <input name="isPrivate" icheck type="checkbox" ng-model="vm.standAloneEvent.isPrivate" />
    </section-group-content>
</section-group>

<section-group-separator></section-group-separator>
