<div>
    <div class="row">
        <h1>Pass Selection</h1>

        <div class="plans">
            <div class="plan col-sm-4" ng-repeat="pass in vm.passOptions">
                <h2 class="plan-title">
                                {{pass.description}}
                            </h2>
                <div class="plan-price">
                    ${{pass.cost}}
                </div>
                <button class="btn btn-primary" ng-click="vm.selectPass(pass)">Select</button>
            </div>
        </div>
    </div>
</div>
