
<ng-form role="form" name="assignmentForm" novalidate>

    <div class="has-error" ng-repeat="error in assignmentForm.serverErrors">
        <span >
            {{error}}
        </span>
    </div>

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Name" 
        ng-model="assignment.name" required>

      <div class="has-error">
          <span class="has-error" ng-show="assignmentForm.name.$error.required && assignmentForm.name.$touched">
              Name is required.
          </span>
          <span ng-show="assignmentForm.name.serverError">
              {{assignmentForm.name.serverError}}
          </span>
      </div>
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" name="description" placeholder="Description" 
        ng-model="assignment.description">

          <div class="has-error">
              <span ng-show="assignmentForm.description.serverError">
                  {{assignmentForm.description.serverError}}
              </span>
          </div>
    </div>

    <div class="form-group">
        <label for="startDate">Start Date</label>
        <input type="date" class="form-control" id="startDate" name="startdate" placeholder="Start Date" 
        ng-model="assignment.start_date" required>

          <div class="has-error">
              <span ng-show="assignmentForm.startdate.serverError">
                  {{assignmentForm.startdate.serverError}}
              </span>
          </div>
    </div>

    <div class="form-group">
        <label for="endDate">End Date</label>
        <input type="date" class="form-control" id="endDate" name="enddate" placeholder="End Date" 
        ng-model="assignment.end_date" required>

          <div class="has-error">
              <span ng-show="assignmentForm.enddate.serverError">
                  {{assignmentForm.enddate.serverError}}
              </span>
          </div>
    </div>

    <div class="form-group">
        <label for="gradeType">Grade Type</label>
        <select required id="gradetype" name="gradetype"
          ng-model="assignment.grade_type" ng-options="gradeType.value as gradeType.display for gradeType in vm.gradeTypes">
          <option value="">-- choose grade type --</option>
        </select>
          <div class="has-error">
              <span ng-show="assignmentForm.gradetype.serverError">
                  {{assignmentForm.gradetype.serverError}}
              </span>
          </div>
    </div>
    <a class="btn btn-default" data-ng-click="vm.submitAssignment(assignment, assignmentForm)" data-ng-disabled="assignmentForm.$invalid || assignmentForm.$pristine">{{vm.getSubmitText(assignment)}}</a>
    <a class="btn btn-default" data-ng-click="vm.cancel(assignment, vm.assignments)">Cancel</a>
</ng-form>