
<ng-form role="form" name="assignmentForm">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Name" data-ng-model="assignment.name" required>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" placeholder="Description" data-ng-model="assignment.description">
    </div>
    <div class="form-group">
        <label for="startDate">Start Date</label>
        <input type="text" class="form-control" id="startDate" placeholder="Start Date" data-ng-model="assignment.start_date" required>
    </div>
    <div class="form-group">
        <label for="endDate">End Date</label>
        <input type="text" class="form-control" id="endDate" placeholder="End Date" data-ng-model="assignment.end_date" required>
    </div>
    <div class="form-group">
        <label for="gradeType">Grade Type</label>
        <input type="text" class="form-control" id="gradeType" placeholder="Grade Type" data-ng-model="assignment.grade_type" required>
    </div>
    <div data-ng-if="action_type === 'update'">
        <a class="btn btn-default" data-ng-click="vm.updateAssignment(assignment, assignmentForm)" data-ng-disabled="assignmentForm.$invalid">Update</a>
        <a class="btn btn-default" data-ng-click="vm.toggleEdit(assignment)">Cancel</a>
    </div>
    <div data-ng-if="action_type === 'create'">
        <a class="btn btn-default" data-ng-click="vm.createAssignment(assignment, assignmentForm)" data-ng-disabled="assignmentForm.$invalid">Create</a>
        <a class="btn btn-default" data-ng-click="vm.toggleEdit(vm.new_assignment)">Cancel</a>
    </div>
</ng-form>