<page-title>Pass Options</page-title>

<section>
    <section-title>Add</section-title>

    <section-content>
        <action-button href="#/admin/manage/pass-options/create">Create New Pass Option</action-button>
    </section-content>
</section>

<section>
    <section-title>Details</section-title>

    <section-content>
        <table class="table table-hover" ts-wrapper>
            <thead>
                <tr>
                    <th select-all-header collection="vm.passOptions"></th>

                    <th hide-if-selected items="vm.passOptions" ts-criteria="name" ts-default>Name</th>
                    <th hide-if-selected items="vm.passOptions" ts-criteria="cost">Price</th>
                    <th hide-if-not-selected items="vm.passOptions">
                        <a class="btn btn-danger" ng-click="vm.confirmDelete()">Delete</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="passOption in vm.passOptions">
                    <td select-item item="passOption"></td>
                    <td>
                        <a ng-href="/#/admin/manage/pass-options/{{passOption.id}}">{{passOption.description}}</a>
                    </td>
                    <td>{{passOption.cost | currency}}</td>
                </tr>

                <tr no-items-row items="vm.passOptions"></tr>

            </tbody>
        </table>
    </section-content>
</section>
