<page-title>Rooms</page-title>

<section>
    <section-title>Add</section-title>

    <section-content>
        <action-button href="#/admin/manage/rooms/create">Create New Room</action-button>
    </section-content>
</section>

<section>
    <section-title>Details</section-title>

    <section-content>
        <table class="table table-hover" ts-wrapper>
            <thead>
                <tr>
                    <th select-all-header collection="vm.rooms"></th>

                    <th hide-if-selected items="vm.rooms" ts-criteria="name" ts-default>Name</th>
                    <th hide-if-selected items="vm.rooms" ts-criteria="location">Location</th>
                    <th hide-if-not-selected items="vm.rooms">
                        <a class="btn btn-danger" ng-click="vm.confirmDelete()">Delete</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="room in vm.rooms">
                    <td select-item item="room"></td>
                    <td>
                        <a ng-href="/#/admin/manage/rooms/{{room.id}}">{{room.name}}</a>
                    </td>
                    <td>{{room.location}}</td>
                </tr>

                <tr no-items-row items="vm.rooms"></tr>

            </tbody>
        </table>
    </section-content>
</section>
