<nice-modal>
    <section>
        <h2>
            New User
        </h2>

        <section-content>
            <section-form ng-form="registerForm">
                <section-group input-name="firstName">
                    <section-group-label>First Name</section-group-label>

                    <section-group-content>
                        <input name="firstName" type="text" class="form-control" ng-model="viewModel.newUser.firstName" required autocomplete="off" />
                        <validation-messages input-name="firstName">
                            <div ng-message="required">Please enter a first name</div>
                        </validation-messages>
                        <server-validation-messages input-name="firstName" messages="viewModel.serverValidation"></server-validation-messages>
                    </section-group-content>
                </section-group>

                <section-group-separator></section-group-separator>

                <section-group input-name="surname">
                    <section-group-label>Surname</section-group-label>

                    <section-group-content>
                        <input name="surname" type="text" class="form-control" ng-model="viewModel.newUser.surname" required autocomplete="off" />
                        <validation-messages input-name="surname">
                            <div ng-message="required">Please enter a surname</div>
                        </validation-messages>
                        <server-validation-messages input-name="surname" messages="viewModel.serverValidation"></server-validation-messages>
                    </section-group-content>
                </section-group>

                <section-group-separator></section-group-separator>

                <section-group input-name="email">
                    <section-group-label>Email</section-group-label>

                    <section-group-content>
                        <input name="email" type="text" class="form-control" ng-model="viewModel.newUser.email" required autocomplete="off" />
                        <validation-messages input-name="email">
                            <div ng-message="required">Please enter an email</div>
                        </validation-messages>
                        <server-validation-messages input-name="email" messages="viewModel.serverValidation"></server-validation-messages>
                    </section-group-content>
                </section-group>

                <section-group-separator></section-group-separator>

                <section-group input-name="password">
                    <section-group-label>Password</section-group-label>

                    <section-group-content>
                        <input name="password" type="password" class="form-control" ng-model="viewModel.newUser.password" required autocomplete="off" />
                        <validation-messages input-name="password">
                            <div ng-message="required">Please enter a password</div>
                        </validation-messages>
                        <server-validation-messages input-name="password" messages="viewModel.serverValidation"></server-validation-messages>
                    </section-group-content>
                </section-group>

                <section-group-separator></section-group-separator>

                <p>
                    Before you can use this website, please read and agree to the following terms and conditions:
                </p>
                <div ng-bind-html="viewModel.termsAndConditions"></div>

                <section-group input-name="agreeToTerms">
                    <p>
                        <input name="agreesToTerms" type="checkbox" icheck ng-model="viewModel.newUser.agreesToTerms" />
                        <label class="normal-text">
                            I agree to the terms & condititons
                        </label>
                        <server-validation-messages input-name="agreesToTerms" messages="viewModel.serverValidation"></server-validation-messages>
                    </p>
                </section-group>

                <section-group-separator></section-group-separator>

                <section-group>
                    <button class="cancel" ng-click="cancel()">Cancel</button>
                    <save-button ng-disabled="registerForm.$invalid" ng-click="viewModel.register()">Create</save-button>
                </section-group>

            </section-form>
        </section-content>
    </section>
</nice-modal>
