<div class="row">
    <h1>Profit/Loss Report</h1>
    <form>
        <common-input ng-model="vm.starting" type="date" name="starting" display-name="From"></common-input>
        <common-input ng-model="vm.ending" type="date" name="ending" display-name="To"></common-input>
        <a ng-click="vm.updateDateRanage()" class="btn btn-primary">Update Date Range</a>
    </form>
    <div>
        <h3>Pass Sales</h3>
        <table class="table table-striped">
            <thead>
                <th>Pass</th>
                <th>Sold</th>
                <th>Revenue</th>
            </thead>
            <tbody>
                <tr ng-repeat="pass in vm.profitReport.passProfitReports">
                    <td>{{pass.passDescription}}</td>
                    <td>{{pass.totalSold}}</td>
                    <td>{{pass.totalRevenue | currency}}</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>{{vm.profitReport.totalPassesSold}}</td>
                    <td>{{vm.profitReport.totalPassRevenue | currency}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h3>Block Revenue</h3>
        <table class="table table-striped">
            <thead>
                <th>Block</th>
                <th>Attendance</th>
                <th>Revenue</th>
            </thead>
            <tbody>
                <tr ng-repeat-start="block in vm.profitReport.blockProfitReports" ng-click="block.open = !block.open">
                    <td>{{block.name}}</td>
                    <td>{{block.totalAttendance}}</td>
                    <td>{{block.totalRevenue | currency}}</td>
                </tr>
                <tr ng-repeat-end ng-repeat="class in block.classProfitReports" ng-show="block.open">
                    <td>{{class.name}}</td>
                    <td>{{class.totalAttendance}}</td>
                    <td>{{class.revenue | currency}}</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>{{vm.profitReport.totalBlockAttendance}}</td>
                    <td>{{vm.profitReport.totalBlockRevenue | currency}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
