<ng-form role="form" name="examForm">

    <div class="has-error" ng-repeat="error in examForm.serverErrors">
        <span >
            {{error}}
        </span>
    </div>

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Name" 
        ng-model="exam.name" required>

      <div class="has-error">
          <span class="has-error" ng-show="examForm.name.$error.required && examForm.name.$touched">
              Name is required.
          </span>
          <span ng-show="examForm.name.serverError">
              {{examForm.name.serverError}}
          </span>
      </div>
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" name="description" placeholder="Description" 
        ng-model="exam.description">

          <div class="has-error">
              <span ng-show="examForm.description.serverError">
                  {{examForm.description.serverError}}
              </span>
          </div>
    </div>

    <div class="form-group">
        <label for="startTime">Start Time</label>
        <input type="date" class="form-control" id="startTime" name="starttime" placeholder="Start Time" 
        ng-model="exam.start_time" required>

          <div class="has-error">
              <span ng-show="examForm.starttime.serverError">
                  {{examForm.starttime.serverError}}
              </span>
          </div>
    </div>

    <div class="form-group">
        <label for="location">Location</label>
        <input type="text" class="form-control" id="location" name="location" placeholder="Location" 
        ng-model="exam.location" required>

          <div class="has-error">
              <span ng-show="examForm.location.serverError">
                  {{examForm.location.serverError}}
              </span>
          </div>
    </div>

    <div class="form-group">
        <label for="gradeType">Grade Type</label>
        <select required id="gradetype" name="gradetype"
          ng-model="exam.grade_type" ng-options="gradeType.value as gradeType.display for gradeType in vm.gradeTypes">
          <option value="">-- choose grade type --</option>
        </select>
          <div class="has-error">
              <span ng-show="examForm.gradetype.serverError">
                  {{examForm.gradetype.serverError}}
              </span>
          </div>
    </div>
    <a class="btn btn-default" data-ng-click="vm.submitExam(exam, examForm)" data-ng-disabled="examForm.$invalid || examForm.$pristine">{{vm.getSubmitText(exam)}}</a>
    <a class="btn btn-default" data-ng-click="vm.cancel(exam, vm.exams)">Cancel</a>
</ng-form>