<div class="row" ng-form="registrationForm">

    <div class="jumbotron">
        <h1>Windy Lindy Registration!</h1>
    </div>

    <div class="panel panel-default" ng-form="registrantDetailsForm">
        <div class="panel-heading">
            <h3 class="panel-title">Registrant Details</h3>
        </div>
        <div class="panel-body">

            <!--First Name-->
            <input-block name="firstName" label="First Name">
                <input name="firstName" type="text" class="form-control" ng-model="vm.registration.first_name" required/>
                <validation error="required" name="firstName">Please enter a first name</validation>
            </input-block>


            <!--Surname-->
            <input-block name="surname" label="Surname">
                <input name="surname" type="text" class="form-control" ng-model="vm.registration.surname" required/>
                <validation error="required" name="surname">Please enter a surname</validation>
            </input-block>


            <!--Dance Role-->
            <input-block name="danceRole" label="Lead or Follow">
                <select name="danceRole" class="form-control" ng-model="vm.registration.dance_role" ng-options="type.value as type.display for type in vm.danceRoles" required>
                    <option value="">Please select a type</option>
                </select>
                <validation error="required" name="danceRole">Please select a dance role</validation>
            </input-block>


            <!--Lindy Level-->
            <input-block name="lindyLevel" label="Dance Level: Lindy">
                <select name="lindyLevel" class="form-control" ng-model="vm.registration.lindy_level" ng-options="type.value as type.display for type in vm.danceLevels" required>
                    <option value="">Please select a dance level</option>
                </select>
                <validation error="required" name="lindyLevel">Please select a dance level</validation>
            </input-block>


            <!--Blues Level-->
            <input-block name="bluesLevel" label="Dance Level: Blues">
                <select name="bluesLevel" class="form-control" ng-model="vm.registration.blues_level" ng-options="type.value as type.display for type in vm.danceLevels" required>
                    <option value="">Please select a dance level</option>
                </select>
                <validation error="required" name="bluesLevel">Please select a dance level</validation>
            </input-block>


            <!--Balboa Level-->
            <input-block name="balboaLevel" label="Dance Level: Balboa">
                <select name="balboaLevel" class="form-control" ng-model="vm.registration.balboa_level" ng-options="type.value as type.display for type in vm.danceLevels" required>
                    <option value="">Please select a dance level</option>
                </select>
                <validation error="required" name="balboaLevel">Please select a dance level</validation>
            </input-block>


            <!--Email-->
            <input-block name="email" label="Email">
                <input name="email" type="email" class="form-control" ng-model="vm.registration.email" required/>
                <validation error="required" name="email">Please enter an email</validation>
                <validation error="email" name="email">Please enter a valid email</validation>
            </input-block>


            <!--Contact Number-->
            <input-block name="phoneNumber" label="Phone Number">
                <input name="phoneNumber" type="tel" class="form-control" ng-model="vm.registration.phone_number" required/>
                <validation error="required" name="phoneNumber">Please enter a contact number</validation>
            </input-block>


            <!--Country of Residence-->
            <input-block name="country" label="Country of Residence">
                <input name="country" type="text" class="form-control" ng-model="vm.registration.country_of_residence" required/>
                <validation error="required" name="country">Please enter a country of residence</validation>
            </input-block>


            <!--Emergency Contact Name-->
            <input-block name="emergencyContactPerson" label="Emergency Contact Person">
                <input name="emergencyContactPerson" type="text" class="form-control" ng-model="vm.registration.emergency_contact_person" required/>
                <validation error="required" name="emergencyContactPerson">Please enter an emergency contact</validation>
            </input-block>


            <!--Emergency Contact Number-->
            <input-block name="emergencyContactNumber" label="Emergency Contact Number">
                <input name="emergencyContactNumber" type="text" class="form-control" ng-model="vm.registration.emergency_contact_number" required/>
                <validation error="required" name="emergencyContactNumber">Please enter an emergency number</validation>
            </input-block>


            <!--Over 18-->
            <input-block name="over18" label="Over 18?">
                <div class="radio">
                    <label>
                        <input type="radio" name="over18" value="true" required ng-model="vm.registration.over18"> Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="over18" value="false" required ng-model="vm.registration.over18"> No
                    </label>
                </div>
                <validation error="required" name="over18">Please let us know if you are over 18</validation>
            </input-block>
        </div>
    </div>

    <div class="panel panel-default" ng-form="activitynForm">
        <div class="panel-heading">
            <h3 class="panel-title">Activities</h3>
        </div>
        <div class="panel-body">

            <!--Full Pass-->
            <input-block name="fullPass" label="Full Pass">
                <div class="radio">
                    <label>
                        <input type="radio" name="fullPass" ng-value="true" required ng-model="vm.registration.full_pass"> Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="fullPass" ng-value="false" required ng-model="vm.registration.full_pass"> No
                    </label>
                </div>
                <validation error="required" name="fullPass">Do you want a full pass?</validation>
            </input-block>
            <div ng-if="vm.registration.full_pass !== undefined && !!!vm.registration.full_pass">
                <h3>Classes</h3>
                <div ng-repeat="class in vm.classes">
                    <input type="checkbox" name="vm.registration.classes[]" value="{{class}}" ng-checked="vm.registration.classes.indexOf(class) > -1" ng-click="vm.toggleSelection(vm.registration.classes, class)"> {{class}}
                </div>

                <h3>Social Events</h3>
                <div ng-repeat="event in vm.socialEvents">
                    <input type="checkbox" name="vm.registration.events[]" value="{{event.name}}" ng-checked="vm.registration.events.indexOf(event.name) > -1" ng-click="vm.toggleSelection(vm.registration.events, event.name)"> {{event.name}} - {{event.price | currency}}
                </div>

            </div>
        </div>
    </div>

    <div class="panel panel-default" ng-form="competitionForm">
        <div class="panel-heading">
            <h3 class="panel-title">Competitions</h3>
        </div>
        <div class="panel-body">

            <!--Novice-->
            <input-block name="novice" label="Novice" checkbox>
                <input name="novice" type="checkbox" ng-model="vm.registration.novice" />
            </input-block>

            <!--Novice Partner-->
            <input-block name="novicePartner" label="Novice Partner" ng-if="vm.registration.novice">
                <input name="novicePartner" type="text" class="form-control" ng-model="vm.registration.novice_partner" ng-required="vm.registration.novice" />
                <validation error="required" name="novicePartner">Please enter a your partner's name</validation>
            </input-block>



            <!--Solo Jazz-->
            <input-block name="soloJazz" label="Solo Jazz" checkbox>
                <input name="soloJazz" type="checkbox" ng-model="vm.registration.solo_jazz" />
            </input-block>


            <!--Balboa-->
            <input-block name="balboa" label="Balboa" checkbox>
                <input name="balboa" type="checkbox" ng-model="vm.registration.balboa" />
            </input-block>

            <!--Balboa Partner-->
            <input-block name="balboaPartner" label="Balboa Partner" ng-if="vm.registration.balboa">
                <input name="balboaPartner" type="text" class="form-control" ng-model="vm.registration.balboa_partner" ng-required="vm.registration.balboa" />
                <validation error="required" name="balboaPartner">Please enter a your partner's name</validation>
            </input-block>

            <!--Jake and Jill-->
            <input-block name="jackAndJill" label="Jack and Jill" checkbox>
                <input name="jackAndJill" type="checkbox" ng-model="vm.registration.jack_and_jill" />
            </input-block>

            <!--Hellzapoppin-->
            <input-block name="hellzapoppin" label="Hellzapoppin" checkbox>
                <input name="hellzapoppin" type="checkbox" ng-model="vm.registration.hellzapoppin" />
            </input-block>

            <!--Strictly Lindy Partner-->
            <input-block name="hellzapoppinPartner" label="Hellzapoppin Partner" ng-if="vm.registration.hellzapoppin">
                <input name="hellzapoppinPartner" type="text" class="form-control" ng-model="vm.registration.hellzapoppin_partner" ng-required="vm.registration.hellzapoppin" />
                <validation error="required" name="hellzapoppinPartner">Please enter a your partner's name</validation>
            </input-block>

            <!--Strictly Lindy-->
            <input-block name="strictlyLindy" label="Strictly Lindy" checkbox>
                <input name="strictlyLindy" type="checkbox" ng-model="vm.registration.strictly_lindy" />
            </input-block>

            <!--Strictly Lindy Partner-->
            <input-block name="strictlyLindyPartner" label="Strictly Lindy Partner" ng-if="vm.registration.strictly_lindy">
                <input name="strictlyLindyPartner" type="text" class="form-control" ng-model="vm.registration.strictly_lindy_partner" ng-required="vm.registration.strictly_lindy" />
                <validation error="required" name="strictlyLindyPartner">Please enter a your partner's name</validation>
            </input-block>


            <!--Showcase Team-->
            <input-block name="showcaseTeam" label="Showcase Team" checkbox>
                <input name="showcaseTeam" type="checkbox" ng-model="vm.registration.showcase_team" />
            </input-block>

            <!--Showcase Team Name-->
            <input-block name="showcaseTeamName" label="Showcase Group Name" ng-if="vm.registration.showcase_team">
                <input name="showcaseTeamName" type="text" class="form-control" ng-model="vm.registration.showcase_team_partner" ng-required="vm.registration.showcase_team" />
                <validation error="required" name="showcaseTeamName">Please enter a your group's name</validation>
            </input-block>


            <!--Showcase-->
            <input-block name="showcaseCouple" label="Showcase Couple" checkbox>
                <input name="showcaseCouple" type="checkbox" ng-model="vm.registration.showcase_couple" />
            </input-block>

            <!--Showcase Couple Partner-->
            <input-block name="showcaseCouplePartner" label="Showcase Couple Partner" ng-if="vm.registration.showcase_couple">
                <input name="showcaseCouplePartner" type="text" class="form-control" ng-model="vm.registration.showcase_couple_partner" ng-required="vm.registration.showcase_couple" />
                <validation error="required" name="showcaseCouplePartner">Please enter a your partner's name</validation>
            </input-block>

        </div>
    </div>


    <div class="panel panel-default" ng-form="SpecialEventsForm">
        <div class="panel-heading">
            <h3 class="panel-title">Special Events</h3>
        </div>
        <div class="panel-body">

            <!--Grammy Awards-->
            <input-block name="grammy" label="I'd like to perform at the Grammy Awards" checkbox>
                <input name="grammy" type="checkbox" ng-model="vm.registration.perform_at_grammy" />
            </input-block>

            <!--Aerials Workshops-->
            <input-block name="aerials" label="I'd like to participate in the Aerials workshops" checkbox>
                <input name="aerials" type="checkbox" ng-model="vm.registration.aerials" />
            </input-block>

            <!--Aerials Partner-->
            <input-block name="aerialsPartner" label="Aerials Partner" ng-if="vm.registration.aerials_partner">
                <input name="aerialsPartner" type="text" class="form-control" ng-model="vm.registration.aerials_partner" ng-required="vm.registration.aerials" />
                <validation error="required" name="aerialsPartner">Please enter a your partner's name</validation>
            </input-block>

        </div>
    </div>

    <div class="panel panel-default" ng-form="termsAndConditionsForm">
        <div class="panel-heading">
            <h3 class="panel-title">Terms & Conditions</h3>
        </div>
        <div class="panel-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent laoreet magna in metus egestas iaculis. Quisque molestie quis nisl sed sagittis. Pellentesque pretium egestas justo. Nam luctus fermentum purus eu dictum. In eget fringilla ligula. Nunc ac dapibus erat. Ut sit amet nulla orci. Quisque tincidunt malesuada augue eget faucibus. Donec consectetur posuere aliquet. Sed et accumsan urna, efficitur placerat odio. Cras nulla velit, efficitur nec rhoncus placerat, suscipit commodo risus. Integer ac lorem nec diam lacinia mollis. Nunc sem felis, sagittis non augue eu, molestie mattis massa. Etiam eu eleifend turpis. Aenean venenatis diam ut sem efficitur sodales.</p>
            <input-block name="termsAndConditions" label="I agree to the terms & conditions" checkbox>
                <input name="termsAndConditions" type="checkbox" ng-model="vm.registration.termsAndConditions" required/>
            </input-block>
        </div>
    </div>

    <div class="well well-sm">
        <a class="btn btn-link">Back</a>
        <a class="btn btn-primary pull-right" ng-click="vm.submit(registrationForm)">Next</a>
    </div>

</div>
