<div class="row" ng-form="registrationForm">

    <div class="jumbotron">
        <h1>Windy Lindy Registration!</h1>
    </div>

    <div class="panel panel-default" ng-form="registrantDetailsForm">
        <div class="panel-heading">
            <h3 class="panel-title">Registrant Details</h3>
        </div>
        <div class="panel-body">

            <!--First Name-->
            <input-block name="firstName" label="First Name">
                <input name="firstName" type="text" class="form-control" ng-model="vm.registration.firstName" required/>
                <validation error="required" name="firstName">Please enter a first name</validation>
            </input-block>


            <!--Surname-->
            <input-block name="surname" label="Surname">
                <input name="surname" type="text" class="form-control" ng-model="vm.registration.surname" required/>
                <validation error="required" name="surname">Please enter a surname</validation>
            </input-block>


            <!--Email-->
            <input-block name="email" label="Email">
                <input name="email" type="email" class="form-control" ng-model="vm.registration.email" required/>
                <validation error="required" name="email">Please enter an email</validation>
                <validation error="email" name="email">Please enter a valid email</validation>
            </input-block>


            <!--Contact Number-->
            <input-block name="phoneNumber" label="Phone Number">
                <input name="phoneNumber" type="tel" class="form-control" ng-model="vm.registration.phoneNumber" required/>
                <validation error="required" name="phoneNumber">Please enter a contact number</validation>
            </input-block>

        </div>
    </div>

    <div class="panel panel-default" ng-form="activitynForm">
        <div class="panel-heading">
            <h3 class="panel-title">Registration</h3>
        </div>
        <div class="panel-body">

            <!--Full Pass-->
            <div>
                <h2>Friday Events</h2>
                <div class="row">
                    <div class="col-xs-6 col-md-3" ng-repeat="event in vm.socialEvents | filter: {'day': 'Friday'}">

                        <div class="ibox m-t-lg">
                            <div class="ibox-content product-box">
                                <div class="product-desc">
                                    <span class="product-price">
                                        {{event.price | currency}}
                                    </span>
                                    <a class="product-name"> {{event.name}}</a>
                                    <div class="small m-t-xs">
                                        <dl>
                                            <dt>Where</dt>
                                            <dd>{{event.where}}</dd>

                                            <dt>When</dt>
                                            <dd>{{event.when}}</dd>
                                        </dl>
                                        <input type="checkbox" name="vm.registration.events[]" value="{{event.id}}" ng-checked="vm.registration.events.indexOf(event.id) > -1" ng-click="vm.toggleSelection(vm.registration.events, event.id)"> Attend!
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>


                <h2>Saturday Events</h2>
                <div class="row">
                    <div class="col-xs-6 col-md-3" ng-repeat="event in vm.socialEvents | filter: {'day': 'Saturday'}">
                        <div class="ibox m-t-lg">
                            <div class="ibox-content product-box">
                                <div class="product-desc">
                                    <span class="product-price">
                                        {{event.price | currency}}
                                    </span>
                                    <a class="product-name"> {{event.name}}</a>
                                    <div class="small m-t-xs">
                                        <dl>
                                            <dt>Where</dt>
                                            <dd>{{event.where}}</dd>

                                            <dt>When</dt>
                                            <dd>{{event.when}}</dd>
                                        </dl>
                                        <input id="{{event.id}}" type="checkbox" name="vm.registration.events[]" value="{{event.id}}" ng-checked="vm.registration.events.indexOf(event.id) > -1" ng-click="vm.toggleSelection(vm.registration.events, event.id)">
                                        <label for="{{event.id}}">Attend</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <h2>Sunday Events</h2>
                <div class="row">
                    <div class="col-xs-6 col-md-3" ng-repeat="event in vm.socialEvents | filter: {'day': 'Sunday'}">
                        <div class="ibox m-t-lg">
                            <div class="ibox-content product-box">
                                <div class="product-desc">
                                    <span class="product-price">
                                        {{event.price | currency}}
                                    </span>
                                    <a class="product-name"> {{event.name}}</a>
                                    <div class="small m-t-xs">
                                        <dl>
                                            <dt>Where</dt>
                                            <dd>{{event.where}}</dd>

                                            <dt>When</dt>
                                            <dd>{{event.when}}</dd>
                                        </dl>
                                        <input id="{{event.id}}" type="checkbox" name="vm.registration.events[]" value="{{event.id}}" ng-checked="vm.registration.events.indexOf(event.id) > -1" ng-click="vm.toggleSelection(vm.registration.events, event.id)">
                                        <label for="{{event.id}}">Attend</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <h2>Monday Events</h2>
                <div class="row">
                    <div class="col-xs-6 col-md-3" ng-repeat="event in vm.socialEvents | filter: {'day': 'Monday'}">
                        <div class="ibox m-t-lg">
                            <div class="ibox-content product-box">
                                <div class="product-desc">
                                    <span class="product-price">
                                        {{event.price | currency}}
                                    </span>
                                    <a class="product-name"> {{event.name}}</a>
                                    <div class="small m-t-xs">
                                        <dl>
                                            <dt>Where</dt>
                                            <dd>{{event.where}}</dd>

                                            <dt>When</dt>
                                            <dd>{{event.when}}</dd>
                                        </dl>
                                        <input id="{{event.id}}" type="checkbox" name="vm.registration.events[]" value="{{event.id}}" ng-checked="vm.registration.events.indexOf(event.id) > -1" ng-click="vm.toggleSelection(vm.registration.events, event.id)">
                                        <label for="{{event.id}}">Attend</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--
                <div ng-repeat="event in vm.socialEvents">
    <input type="checkbox" name="vm.registration.events[]" value="{{event.id}}" ng-checked="vm.registration.events.indexOf(event.id) > -1" ng-click="vm.toggleSelection(vm.registration.events, event.id)"> {{event.name}} - {{event.price | currency}}
</div>
-->

            </div>
        </div>
    </div>

    <div class="panel panel-default" ng-form="termsAndConditionsForm">
        <div class="panel-heading">
            <h3 class="panel-title">Terms & Conditions</h3>
        </div>
        <div class="panel-body">

            <p>
                Payment must be made in full to secure registration. Please contact us directly if you would like to make alternative payment arrangements.
            </p>

            <p>
                Any full or partial registrations canceled after 30/09/2015 are non-refundable whether or not the participant attends all or part of Windy Lindy 2015.
            </p>

            <p>
                Full Swing Ltd. reserves the right to make changes to the schedule of any events that are part of Windy Lindy 2015 at anytime owing to factors beyond our control or to ensure that the event runs smoothly. In the event of major schedule changes or cancelations, all effort will be made to notify participants as soon possible, and/or offer an alternative activity.
            </p>

            <p>
                Swing dance of all kinds is a physical activity. By registering for Windy Lindy 2015, registrants accept personal responsibility for their health and wellbeing while participating in all parts of the event. This includes assessing their own ability to complete activities, and behaving in a way that is safe for themselves and other registrants.
            </p>

            <p>
                The Windy Lindy 2015 team reserves the right to remove any registrant from classes, social events or any part of Windy Lindy 2015 in cases of inappropriate behaviour. Please refer to the Full Swing Code of Conduct for more details.
            </p>

            <p>
                Full Swing Ltd. does not accept liability for damage to property, consequential loss or injury of any kind while attending Windy Lindy 2015.
            </p>

            <input-block name="termsAndConditions" label="I agree to the terms & conditions" checkbox>
                <input name="termsAndConditions" type="checkbox" ng-model="vm.registration.termsAndConditions" required/>
            </input-block>
        </div>
    </div>

    <div class="well well-sm">
        <a class="btn btn-link">Back</a>
        <a class="btn btn-primary pull-right" ng-click="vm.submit(registrationForm)">Next</a>
    </div>

</div>
