<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <h1>{{vm.class.name}} Class Check In</h1>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Students</h3>
                      </div>
                      <div class="panel-body" ng-show="vm.areRegisteredStudentsLoading">
                        <p>Loading students...</p>
                      </div>
                      <div class="panel-body" ng-hide="vm.areRegisteredStudentsLoading">
                        <div ng-show="vm.registeredStudents.length === 0">
                            No students registered for this class.
                        </div>
                        <div ng-repeat="student in vm.students track by $index">
                            <div class="form-group">
                                <input type="checkbox" data-ng-model="student.attendedClass" data-ng-change="vm.attendenceStatusChanged(student)">
                                {{student.full_name}}
                                  <pass-status ng-model='student' ng-click="openPassSelection = !openPassSelection"></pass-status>
                            </div>

                            <div class="panel panel-default" ng-show="openPassSelection">
                              <div class="panel-heading">
                                  <h3 class="panel-title">Passes for {{student.full_name}}</h3>
                                </div>
                                <div class="panel-body">
                                  <div ng-repeat="pass in student.passes | filter:{payment_status: 'Pending'}">
                                    <pass-summary ng-model="pass"></pass-summary>
                                    <button class="btn btn-primary" ng-click="vm.passPaidFor(pass, student)">Paid</button>
                                  </div>
                                  <div ng-repeat="pass in student.passes | filter:{payment_status: 'Paid'}">
                                    <pass-summary ng-model="pass"></pass-summary>
                                  </div>

                                  <hr ng-show="student.passes.length > 0"/>
                                  <h3>Pass Selection</h3>
                                  <div class="radio" data-ng-repeat="pass in vm.passOptions | availablePassOptions:student">
                                    <label>
                                      <input type="radio" name="passOptions" data-ng-model="$parent.selectedPass" ng-value="pass">
                                          {{pass.description}} - ${{pass.value}}.00
                                    </label>
                                  </div>
                                  <button class="btn btn-primary" ng-click="vm.purchaseNewPass(student, selectedPass)">Purchase</button>
                                </div>
                          </div>

                        </div>
                      </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Walk In Students</h3>
                      </div>
                      <div class="panel-body">
                        <div>
                        <input type="text" placeholder="Student's Name" ng-model="vm.walkInStudentSelected" typeahead="student as student.full_name for student in vm.searchUsers($viewValue)">
                            <button class="btn btn-primary" ng-disabled="!vm.isSelectedStudentValid()" ng-click="vm.addWalkIn()">Add Walk In</button>
                            <button class="btn btn-primary" ng-disabled="!vm.isSelectedStudentValid()" ng-click="vm.enrolWalkIn()">Enrol In Block</button>
                            <button class="btn btn-primary" ng-disabled="vm.isSelectedStudentValid()" ng-click="vm.createAccount()">Create New Account</button>
                            <button class="btn btn-primary" ng-disabled="vm.isSelectedStudentValid()" ng-click="vm.addVisitor()">Add Visitor</button>
                        </div>
                      </div>
                </div>

                <div class="panel panel-default" ng-show="vm.creatingNewAccount">
                    <div class="panel-heading">
                        <h3 class="panel-title">New Account</h3>
                      </div>
                      <div class="panel-body">
                        <div class="row">
                          <form class="form-horizontal" name="registerForm" novalidate>

                              <!--first name-->
                              <div class="form-group" ng-class="{'has-error':registerForm.first_name.$invalid && registerForm.first_name.$touched}">
                                  
                                    <div class="col-xs-4">
                                        <input class="form-control"
                                               id="first_name"
                                               name="first_name"
                                               type="text"
                                               placeholder="First Name (required)"
                                               ng-model="vm.newUser.first_name"
                                               required/>
                                    </div>

                                  <div class="has-error">
                                      <span class="help-block" ng-show="registerForm.first_name.$error.required && registerForm.first_name.$touched">
                                          Email is required.
                                      </span>
                                      <span class="help-block" ng-show="registerForm.first_name.serverError">
                                          {{registerForm.first_name.serverError}}
                                      </span>
                                  </div>
                              </div>

                              <!--surname-->
                              <div class="form-group" ng-class="{'has-error':registerForm.surname.$invalid && registerForm.surname.$touched}">
                                  
                                    <div class="col-xs-4">
                                        <input class="form-control"
                                               id="surname"
                                               name="surname"
                                               type="text"
                                               placeholder="Surname (required)"
                                               ng-model="vm.newUser.surname"
                                               required/>
                                    </div>

                                  <div class="has-error">
                                      <span class="help-block" ng-show="registerForm.surname.$error.required && registerForm.surname.$touched">
                                          Surname is required.
                                      </span>
                                      <span class="help-block" ng-show="registerForm.surname.serverError">
                                          {{registerForm.surname.serverError}}
                                      </span>
                                  </div>
                              </div>

                              <!--email-->
                              <div class="form-group" ng-class="{'has-error':registerForm.email.$invalid && registerForm.email.$touched}">
                                  
                                    <div class="col-sm-4">
                                        <input class="form-control"
                                               id="email"
                                               name="email"
                                               type="text"
                                               placeholder="Email (required)"
                                               ng-model="vm.newUser.email"
                                               required/>
                                    </div>

                                  <div class="has-error">
                                      <span class="help-block" ng-show="registerForm.email.$error.required && registerForm.email.$touched">
                                          Email is required.
                                      </span>
                                      <span class="help-block" ng-show="registerForm.email.serverError">
                                          {{registerForm.email.serverError}}
                                      </span>
                                  </div>
                              </div>

                              <!--password-->
                              <div class="form-group" ng-class="{'has-error':registerForm.password.$invalid && registerForm.password.$touched}">

                                 <div class="col-xs-4">
                                    <input class="form-control"
                                           id="password"
                                           name="password"
                                           type="password"
                                           placeholder="Password (required)"
                                           ng-model="vm.newUser.password"
                                           required/>
                                 </div>

                                  <div class="has-error">
                                      <span class="help-block" ng-show="registerForm.password.$error.required && registerForm.password.$touched">
                                          Password is required.
                                      </span>
                                      <span class="help-block" ng-show="registerForm.password.serverError">
                                          {{registerForm.password.serverError}}
                                      </span>
                                  </div>
                              </div>
                              <button class="btn btn-primary col-xs-4"
                                      ng-click="vm.cancelNewAccount()">
                                  Cancel
                              </button>
                              <button class="btn btn-primary col-xs-4"
                                      ng-click="vm.registerNewUser(registerForm)"
                                      ng-disabled="registerForm.$invalid">
                                  Register
                              </button>
                          </form>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </section>
</section>