<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <h1>{{vm.class.name}} Class Check In</h1>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Registered Students</h3>
                      </div>
                      <div class="panel-body" ng-show="vm.areRegisteredStudentsLoading">
                        <p>Loading students...</p>
                      </div>
                      <div class="panel-body" ng-hide="vm.areRegisteredStudentsLoading">
                        <div ng-show="vm.registeredStudents.length === 0">
                            No students registered for this class.
                        </div>
                        <div ng-show="vm.registeredStudents.length > 0" ng-repeat="student in vm.registeredStudents">
                            <div class="form-group">
                                <input type="checkbox" data-ng-model="student.attendedClass">
                                {{student.first_name}} {{student.surname}}
                            </div>
                        </div>
                      </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Walk In Students</h3>
                      </div>
                      <div class="panel-body">
                        <div ng-show="vm.walkInStudents.length === 0">
                            No walk in students.
                        </div>
                        <div ng-show="vm.walkInStudents.length > 0" ng-repeat="student in vm.walkInStudents">
                            {{student.first_name}} {{student.surname}}
                        </div>
                        <input type="text" placeholder="Student's Name" ng-model="vm.walkInStudentSelected" typeahead="student as student.first_name for student in vm.searchUsers($viewValue)">
                      </div>
                </div>
            </div>
        </div>
    </section>
</section>