
body {
    padding-top: 45px;
    -webkit-font-smoothing: antialiased;
}

/* Sidebar */

.sidebar {
    width: 230px;
    float: left;
    display: block;
    background: #111;
    color: #eee;
    position: relative;
}

    .sidebar hr {
        border-bottom: 1px solid #333 !important;
    }

    .sidebar ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

        .sidebar ul li {
            list-style-type: none;
        }

    .sidebar .sidebar-inner {
        display: block;
        width: 100%;
        margin: 0 auto;
        position: absolute;
        z-index: 60;
        background: #111;
    }

    .sidebar .navi li i {
        margin-right: 5px;
    }

    .sidebar .navi li span i {
        margin: 0;
    }

    .sidebar .navi > li > a {
        display: block;
        padding: 12px 20px;
        font-size: 15px;
        line-height: 25px;
        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid #222;
        background-color: #111;
    }

        .sidebar .navi > li > a:hover, .sidebar .navi > li.open > a {
            border-bottom: 1px solid #222;
            background-color: #222;
            color: #fff;
        }

    .sidebar .navi li ul {
        display: none;
        background: #181818;
    }

    .sidebar .navi li.open ul {
        display: block;
    }

    .sidebar .navi li ul li a {
        display: block;
        background: none;
        padding: 10px 0;
        padding-left: 30px;
        text-decoration: none;
        color: #999;
        border-bottom: 1px solid #222;
    }

    .sidebar .navi li ul li.active a {
        background: #131313;
        border-bottom: 1px solid #222;
    }

    .sidebar .navi li ul li a:hover {
        background: #131313;
        border-bottom: 1px solid #222;
    }

    /* Sidebar colors */

    .sidebar .navi > li.nlightblue > a:hover,
    .sidebar .navi > li.open.nlightblue > a,
    .sidebar .navi > li.current.nlightblue > a {
        background: #52b9e9 !important;
        -webkit-transition: background 0.5s ease;
        -moz-transition: background 0.5s ease;
        -o-transition: background 0.5s ease;
        transition: background 0.5s ease;
    }

    .sidebar .navi > li.nblue > a:hover,
    .sidebar .navi > li.open.nblue > a,
    .sidebar .navi > li.current.nblue > a {
        background: #1171a3 !important;
        -webkit-transition: background 0.5s ease;
        -moz-transition: background 0.5s ease;
        -o-transition: background 0.5s ease;
        transition: background 0.5s ease;
    }

    .sidebar .navi > li.ngreen > a:hover,
    .sidebar .navi > li.open.ngreen > a,
    .sidebar .navi > li.current.ngreen > a {
        background: #43c83c !important;
        -webkit-transition: background 0.5s ease;
        -moz-transition: background 0.5s ease;
        -o-transition: background 0.5s ease;
        transition: background 0.5s ease;
    }

    .sidebar .navi > li.norange > a:hover,
    .sidebar .navi > li.open.norange > a,
    .sidebar .navi > li.current.norange > a {
        background: #f88529 !important;
        -webkit-transition: background 0.5s ease;
        -moz-transition: background 0.5s ease;
        -o-transition: background 0.5s ease;
        transition: background 0.5s ease;
    }

    .sidebar .navi > li.nred > a:hover,
    .sidebar .navi > li.open.nred > a,
    .sidebar .navi > li.current.nred > a {
        background: #fa3031 !important;
        -webkit-transition: background 0.5s ease;
        -moz-transition: background 0.5s ease;
        -o-transition: background 0.5s ease;
        transition: background 0.5s ease;
    }

    .sidebar .navi > li.nviolet > a:hover,
    .sidebar .navi > li.open.nviolet > a,
    .sidebar .navi > li.current.nviolet > a {
        background: #932ab6 !important;
        -webkit-transition: background 0.5s ease;
        -moz-transition: background 0.5s ease;
        -o-transition: background 0.5s ease;
        transition: background 0.5s ease;
    }

/* Sidebar dropdown */

    .sidebar .sidebar-dropdown* {
        text-decoration: none;
    }

    .sidebar .sidebar-dropdown {
        display: none;
    }

        .sidebar .sidebar-dropdown a {
            color: #ddd;
            background-color: #343434;
            padding: 6px;
            text-transform: uppercase;
            text-align: center;
            font-size: 13px;
            display: block;
            border-top: 1px solid #666;
            border-bottom: 1px solid #333;
        }

            .sidebar .sidebar-dropdown a:hover {
                text-decoration: none;
            }


/* Main */

.mainbar {
    position: relative;
    margin-left: 230px;
    margin-right: 0;
    width: auto;
    background: #fff;
    min-height: 900px;
}

    .mainbar .container {
        width: 100%;
        padding: 0 !important;
    }



/* Matter */

.mainbar .matter {
    border-top: 0px solid #ddd;
    margin: 2em;
}


/* Responsive */
@media (max-width: 767px) {
    body {
        margin: 0 auto;
    }

        body .container {
            width: 95%;
            padding-left: 2.5%;
            padding-right: 2.5%;
        }

    .content {
        margin-left: -20px;
        margin-right: -20px;
    }

    .mainbar .matter {
        padding-left: 20px;
        padding-right: 20px;
    }

    .form-inline button {
        margin-left: 0;
    }

    .navbar {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .nav-collapse .dropdown-big .dropdown-menu {
        color: #bbb !important;
    }

        .nav-collapse .dropdown-big .dropdown-menu a {
            color: #ccc !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

            .nav-collapse .dropdown-big .dropdown-menu a:hover {
                color: #aaa !important;
            }

        .nav-collapse .dropdown-big .dropdown-menu h5 {
            color: #eee !important;
        }

    .nav-collapse .dropdown-menu {
        padding: 10px 10px !important;
    }

        .nav-collapse .dropdown-menu a {
            color: #fff !important;
        }

            .nav-collapse .dropdown-menu a:hover {
                background: transparent !important;
            }

        .nav-collapse .dropdown-menu hr {
            border-top: 0 solid #eee;
            border-bottom: 1px solid #333;
        }

    .sidebar {
        float: none;
        width: 100%;
    }

        .sidebar .sidebar-dropdown {
            display: block;
        }

        .sidebar .sidebar-inner {
            display: none;
        }

        .sidebar .sidebar-widget {
            text-align: center;
        }

    .mainbar {
        margin: 0;
        float: none;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    

    .navbar {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .nav-collapse .dropdown-big .dropdown-menu {
        color: #bbb !important;
    }

        .nav-collapse .dropdown-big .dropdown-menu a {
            color: #ccc !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

            .nav-collapse .dropdown-big .dropdown-menu a:hover {
                color: #aaa !important;
            }

        .nav-collapse .dropdown-big .dropdown-menu h5 {
            color: #eee !important;
        }

    .nav-collapse .dropdown-menu {
        padding: 10px 10px !important;
    }

        .nav-collapse .dropdown-menu a {
            color: #fff !important;
        }

            .nav-collapse .dropdown-menu a:hover {
                background: transparent !important;
            }

        .nav-collapse .dropdown-menu hr {
            border-top: 0 solid #eee;
            border-bottom: 1px solid #333;
        }

    .sidebar {
        width: 200px;
    }

    .mainbar {
        margin-left: 200px;
    }
}