<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <h2>{{vm.title}}</h2>

                <!--Course Details-->
                <div class="widget worange">
                    <div data-cc-widget-header title="Course Details"></div>
                    <div class="widget-content user">
                        <div class="user">
                            <form role="form" name="courseDetailsForm">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="name" placeholder="Name" data-ng-model="vm.course.name">
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <input type="text" class="form-control" id="description" placeholder="Description" data-ng-model="vm.course.description">
                                </div>
                                <div class="form-group">
                                    <label for="startDate">Start Date</label>
                                    <input type="date" class="form-control" id="startDate" placeholder="Start Date" data-ng-model="vm.course.start_date">
                                </div>
                                <div class="form-group">
                                    <label for="endDate">End Date</label>
                                    <input type="date" class="form-control" id="endDate" placeholder="End Date" data-ng-model="vm.course.end_date">
                                </div>
                                <div class="form-group">
                                    <label for="gradeType">Grade Type</label>
                                    <input type="text" class="form-control" id="gradeType" placeholder="Grade Type" data-ng-model="vm.course.grade_type">
                                </div>
                                <button class="btn btn-default" data-ng-disabled="courseDetailsForm.$pristine" data-ng-click="vm.updateCourseDetails(courseDetailsForm)">Update</button>
                            </form>
                        </div>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                    <!--/Course Details-->

                <!--Assignments-->
                <div class="widget worange">
                    <div data-cc-widget-header title="Assignments"></div>
                    <div class="widget-content user">
                        <div data-ng-repeat="assignment in vm.assignments">
                            <div class="user" data-ng-hide="assignment.is_editing">
                                <h5>{{assignment.name}}</h5>
                                <a class="btn btn-default" data-ng-click="vm.toggleEdit(assignment)">Edit</a>
                            </div>
                            <div data-ng-show="assignment.is_editing" class="user">
                                <div ng-include src="'manageAssignment.html'" onload="action_type = 'update'"></div>
                            </div>
                        </div>
                        <div class="user">
                            <a class="btn btn-default" data-ng-click="vm.toggleEdit(vm.new_assignment)">New Assignment</a>
                            <div data-ng-show="vm.new_assignment.is_editing" class="user">
                                <div ng-include src="'manageAssignment.html'" onload="action_type = 'create'; assignment = vm.new_assignment"></div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                    <!--/Assignments-->
                </div>
            </div>
        </div>
    </section>
</section>

<script type="text/ng-template" id="manageAssignment.html">
   <ng-form role="form" name="assignmentForm">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name" data-ng-model="assignment.name" required>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" placeholder="Description" data-ng-model="assignment.description">
        </div>
        <div class="form-group">
            <label for="startDate">Start Date</label>
            <input type="date" class="form-control" id="startDate" placeholder="Start Date" data-ng-model="assignment.start_date" required>
        </div>
        <div class="form-group">
            <label for="endDate">End Date</label>
            <input type="date" class="form-control" id="endDate" placeholder="End Date" data-ng-model="assignment.end_date" required>
        </div>
        <div class="form-group">
            <label for="gradeType">Grade Type</label>
            <input type="text" class="form-control" id="gradeType" placeholder="Grade Type" data-ng-model="assignment.grade_type" required>
        </div>
        <div data-ng-if="action_type === 'update'">
            <a class="btn btn-default" data-ng-click="vm.updateAssignment(assignment, assignmentForm)" data-ng-disabled="assignmentForm.$invalid">Update</a>
            <a class="btn btn-default" data-ng-click="vm.toggleEdit(assignment)">Cancel</a>
        </div>
        <div data-ng-if="action_type === 'create'">
            <a class="btn btn-default" data-ng-click="vm.createAssignment(assignment, assignmentForm)" data-ng-disabled="assignmentForm.$invalid">Create</a>
            <a class="btn btn-default" data-ng-click="vm.toggleEdit(vm.new_assignment)">Cancel</a>
        </div>
    </ng-form>
</script>
