<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <h2>{{vm.title}}</h2>

                <!--Course Details-->
                <div class="widget worange">
                    <div data-cc-widget-header title="Course Details"></div>
                    <div class="widget-content user">
                        <div class="user">
                            <form role="form" name="courseDetailsForm" novalidate>

                                <div class="has-error" ng-repeat="error in courseDetailsForm.serverErrors">
                                    <span >
                                        {{error}}
                                    </span>
                                </div>

                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Name" 
                                    ng-model="vm.course.name" required>

                                  <div class="has-error">
                                      <span class="has-error" ng-show="courseDetailsForm.name.$error.required && courseDetailsForm.name.$touched">
                                          Name is required.
                                      </span>
                                      <span ng-show="courseDetailsForm.name.serverError">
                                          {{courseDetailsForm.name.serverError}}
                                      </span>
                                  </div>
                                </div>

                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <input type="text" class="form-control" id="description" name="description" placeholder="Description" 
                                    ng-model="vm.course.description">

                                      <div class="has-error">
                                          <span ng-show="courseDetailsForm.description.serverError">
                                              {{courseDetailsForm.description.serverError}}
                                          </span>
                                      </div>
                                </div>

                                <div class="form-group">
                                    <label for="startDate">Start Date</label>
                                    <input type="date" class="form-control" id="startDate" name="startdate" placeholder="Start Date" 
                                    ng-model="vm.course.start_date" required>

                                      <div class="has-error">
                                          <span ng-show="courseDetailsForm.startdate.serverError">
                                              {{courseDetailsForm.startdate.serverError}}
                                          </span>
                                      </div>
                                </div>

                                <div class="form-group">
                                    <label for="endDate">End Date</label>
                                    <input type="date" class="form-control" id="endDate" name="enddate" placeholder="End Date" 
                                    ng-model="vm.course.end_date" required>

                                      <div class="has-error">
                                          <span ng-show="courseDetailsForm.enddate.serverError">
                                              {{courseDetailsForm.enddate.serverError}}
                                          </span>
                                      </div>
                                </div>

                                <div class="form-group">
                                    <label for="gradeType">Grade Type</label>
                                    <select required id="gradetype" name="gradetype"
                                      ng-model="vm.course.grade_type" ng-options="gradeType.value as gradeType.display for gradeType in vm.gradeTypes">
                                      <option value="">-- choose grade type --</option>
                                    </select>
                                      <div class="has-error">
                                          <span ng-show="courseDetailsForm.gradetype.serverError">
                                              {{courseDetailsForm.gradetype.serverError}}
                                          </span>
                                      </div>
                                </div>
                                <button class="btn btn-default" data-ng-disabled="courseDetailsForm.$pristine" data-ng-click="vm.updateCourseDetails(courseDetailsForm)">Update</button>
                            </form>
                        </div>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
                    <!--/Course Details-->

                <!--Assignments-->
                <div class="widget worange">
                    <div data-cc-widget-header title="Assignments"></div>
                    <div class="widget-content user">
                        <div data-ng-repeat="assignment in vm.assignments">
                            <div class="user" data-ng-hide="assignment.is_editing">
                                <h5>{{assignment.name}}</h5>
                                <a class="btn btn-default" data-ng-click="vm.toggleEdit(assignment)">Edit</a>
                                <a class="btn btn-default" data-ng-click="vm.deleteAssignment(assignment)">Delete</a>
                            </div>
                            <div data-ng-show="assignment.is_editing" class="user">
                                <div ng-include src="'app/manageCourse/manageAssignments/manageAssignment.html'"></div>
                            </div>
                        </div>
                        <a class="btn btn-default" data-ng-click="vm.addNew(vm.assignments)">New</a>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!--/Assignments-->

                <!--Exams-->
                <div class="widget worange">
                    <div data-cc-widget-header title="Exams"></div>
                    <div class="widget-content user">
                        <div data-ng-repeat="exam in vm.exams">
                            <div class="user" data-ng-hide="exam.is_editing">
                                <h5>{{exam.name}}</h5>
                                <a class="btn btn-default" data-ng-click="vm.toggleEdit(exam)">Edit</a>
                                <a class="btn btn-default" data-ng-click="vm.deleteExam(exam)">Delete</a>
                            </div>
                            <div data-ng-show="exam.is_editing" class="user">
                                <div ng-include src="'app/manageCourse/manageExams/manageExam.html'"></div>
                            </div>
                        </div>
                        <a class="btn btn-default" data-ng-click="vm.addNew(vm.exams)">New</a>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!--/Exams-->

                <!--Lectures-->
                <div class="widget worange">
                    <div data-cc-widget-header title="Lectures"></div>
                    <div class="widget-content user">
                        <div data-ng-repeat="lecture in vm.lectures">
                            <div class="user" data-ng-hide="lecture.is_editing">
                                <h5>{{lecture.name}}</h5>
                                <a class="btn btn-default" data-ng-click="vm.toggleEdit(lecture)">Edit</a>
                                <a class="btn btn-default" data-ng-click="vm.deleteLecture(lecture)">Delete</a>
                            </div>
                            <div data-ng-show="lecture.is_editing" class="user">
                                <div ng-include src="'app/manageCourse/manageLectures/manageLecture.html'"></div>
                            </div>
                        </div>
                        <a class="btn btn-default" data-ng-click="vm.addNew(vm.lectures)">New</a>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!--/Lectures-->

                <!--Notices-->
                <div class="widget worange">
                    <div data-cc-widget-header title="Notices"></div>
                    <div class="widget-content user">
                        <div data-ng-repeat="notice in vm.notices">
                            <div class="user" data-ng-hide="notice.is_editing">
                                <h5>{{notice.message}}</h5>
                                <a class="btn btn-default" data-ng-click="vm.toggleEdit(notice)">Edit</a>
                                <a class="btn btn-default" data-ng-click="vm.deleteNotice(notice)">Delete</a>
                            </div>
                            <div data-ng-show="notice.is_editing" class="user">
                                <div ng-include src="'app/manageCourse/manageNotices/manageNotice.html'"></div>
                            </div>
                        </div>
                        <a class="btn btn-default" data-ng-click="vm.addNew(vm.notices)">New</a>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!--/Notices-->
                
            </div>
        </div>
    </section>
</section


