<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <h2>{{vm.title}}</h2>

                <!--Course Details-->
                <div class="widget worange">
                    <div data-cc-widget-header title="Course Details"></div>
                    <div class="widget-content user">
                        <div class="user">
                            <form role="form" name="courseDetailsForm">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="name" placeholder="Name" data-ng-model="vm.course.name">
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <input type="text" class="form-control" id="description" placeholder="Description" data-ng-model="vm.course.description">
                                </div>
                                <div class="form-group">
                                    <label for="startDate">Start Date</label>
                                    <input type="date" class="form-control" id="startDate" placeholder="Start Date" data-ng-model="vm.course.start_date">
                                </div>
                                <div class="form-group">
                                    <label for="endDate">End Date</label>
                                    <input type="date" class="form-control" id="endDate" placeholder="End Date" data-ng-model="vm.course.end_date">
                                </div>
                                <div class="form-group">
                                    <label for="gradeType">Grade Type</label>
                                    <input type="text" class="form-control" id="gradeType" placeholder="Grade Type" data-ng-model="vm.course.grade_type">
                                </div>
                                <button class="btn btn-default" data-ng-disabled="courseDetailsForm.$pristine" data-ng-click="vm.updateCourseDetails(courseDetailsForm)">Update</button>
                            </form>
                        </div>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
                    <!--/Course Details-->

                <!--Assignments-->
                <div class="widget worange">
                    <div data-cc-widget-header title="Assignments"></div>
                    <div class="widget-content user">
                        <div data-ng-repeat="assignment in vm.assignments">
                            <div class="user" data-ng-hide="assignment.is_editing">
                                <h5>{{assignment.name}}</h5>
                                <a class="btn btn-default" data-ng-click="vm.toggleEdit(assignment)">Edit</a>
                                <a class="btn btn-default" data-ng-click="vm.deleteAssignment(assignment)">Delete</a>
                            </div>
                            <div data-ng-show="assignment.is_editing" class="user">
                                <div ng-include src="'app/manageCourse/manageAssignments/manageAssignment.html'" onload="action_type = 'update'"></div>
                            </div>
                        </div>
                        <div class="user">
                            <a class="btn btn-default" data-ng-click="vm.toggleEdit(vm.new_assignment)">New Assignment</a>
                            <div data-ng-show="vm.new_assignment.is_editing" class="user">
                                <div ng-include src="'app/manageCourse/manageAssignments/manageAssignment.html'" onload="action_type = 'create'; assignment = vm.new_assignment"></div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!--/Assignments-->

                <!--Exams-->
                <div class="widget worange">
                    <div data-cc-widget-header title="Exams"></div>
                    <div class="widget-content user">
                        <div data-ng-repeat="exam in vm.exams">
                            <div class="user" data-ng-hide="exam.is_editing">
                                <h5>{{exam.name}}</h5>
                                <a class="btn btn-default" data-ng-click="vm.toggleEdit(exam)">Edit</a>
                                <a class="btn btn-default" data-ng-click="vm.deleteExam(exam)">Delete</a>
                            </div>
                            <div data-ng-show="exam.is_editing" class="user">
                                <div ng-include src="'app/manageCourse/manageExams/manageExam.html'" onload="action_type = 'update'"></div>
                            </div>
                        </div>
                        <div class="user">
                            <a class="btn btn-default" data-ng-click="vm.toggleEdit(vm.new_exam)">New Exam</a>
                            <div data-ng-show="vm.new_exam.is_editing" class="user">
                                <div ng-include src="'app/manageCourse/manageExams/manageExam.html'" onload="action_type = 'create'; exam = vm.new_exam"></div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!--/Exams-->

                <!--Lectures-->
                <div class="widget worange">
                    <div data-cc-widget-header title="Lectures"></div>
                    <div class="widget-content user">
                        <div data-ng-repeat="lecture in vm.lectures">
                            <div class="user" data-ng-hide="lecture.is_editing">
                                <h5>{{lecture.name}}</h5>
                                <a class="btn btn-default" data-ng-click="vm.toggleEdit(lecture)">Edit</a>
                                <a class="btn btn-default" data-ng-click="vm.deleteLecture(lecture)">Delete</a>
                            </div>
                            <div data-ng-show="lecture.is_editing" class="user">
                                <div ng-include src="'app/manageCourse/manageLectures/manageLecture.html'" onload="action_type = 'update'"></div>
                            </div>
                        </div>
                        <div class="user">
                            <a class="btn btn-default" data-ng-click="vm.toggleEdit(vm.new_lecture)">New Lecture</a>
                            <div data-ng-show="vm.new_lecture.is_editing" class="user">
                                <div ng-include src="'app/manageCourse/manageLectures/manageLecture.html'" onload="action_type = 'create'; lecture = vm.new_lecture"></div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!--/Lectures-->

                <!--Notices-->
                <div class="widget worange">
                    <div data-cc-widget-header title="Notices"></div>
                    <div class="widget-content user">
                        <div data-ng-repeat="notice in vm.notices">
                            <div class="user" data-ng-hide="notice.is_editing">
                                <h5>{{notice.message}}</h5>
                                <a class="btn btn-default" data-ng-click="vm.toggleEdit(notice)">Edit</a>
                                <a class="btn btn-default" data-ng-click="vm.deleteNotice(notice)">Delete</a>
                            </div>
                            <div data-ng-show="notice.is_editing" class="user">
                                <div ng-include src="'app/manageCourse/manageNotices/manageNotice.html'" onload="action_type = 'update'"></div>
                            </div>
                        </div>
                        <div class="user">
                            <a class="btn btn-default" data-ng-click="vm.toggleEdit(vm.new_notice)">New Notice</a>
                            <div data-ng-show="vm.new_notice.is_editing" class="user">
                                <div ng-include src="'app/manageCourse/manageNotices/manageNotice.html'" onload="action_type = 'create'; notice = vm.new_notice"></div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!--/Notices-->
                
            </div>
        </div>
    </section>
</section


