<div class="ibox float-e-margins">
    <div class="ibox-content">
        <h2>Manage Teachers</h2>

        <user-search ng-model="vm.selectedUser" placeholder="Enter new teacher's name"></user-search>
        <button class="btn btn-primary" ng-disabled="!vm.selectedUser" ng-click="vm.addTeacher()">Add as teacher</button>

        <table class="table table-hover">
            <thead>
                <th>Name</th>
                <th></th>
            </thead>
            <tbody ng-repeat="teacher in vm.teachers">
                <tr>
                    <td>{{teacher.fullName}}</td>
                    <td><a class="btn btn-danger" ng-click="vm.remove(teacher.id)" class="btn default">Remove as teacher</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
