<page-title>Teachers</page-title>

<section>
    <section-title>
        Add
    </section-title>

    <section-content>
        <user-search ng-model="vm.selectedUser"></user-search>
        <action-button ng-disabled="!vm.selectedUser" ng-click="vm.addTeacher()">Add as teacher</action-button>
    </section-content>
</section>

<section>
    <section-title>
        Manage
    </section-title>

    <section-content>

        <table class="table table-hover" ts-wrapper>
            <thead>
                <tr>
                    <th select-all-header collection="vm.teachers"></th>

                    <th hide-if-selected items="vm.teachers" ts-criteria="name" ts-default>Name</th>
                    <th hide-if-selected items="vm.teachers" ts-criteria="soloRate">Solo Rate</th>
                    <th hide-if-selected items="vm.teachers" ts-criteria="partnerRate">Partner Rate</th>
                    <th hide-if-selected items="vm.teachers"></th>
                    <th hide-if-not-selected items="vm.teachers">
                        <a class="btn btn-danger" ng-click="vm.confirmDelete()">Delete</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="teacher in vm.teachers">
                    <td select-item item="teacher"></td>
                    <td>{{teacher.name}}</td>
                    <td>{{teacher.soloRate | currency}}</td>
                    <td>{{teacher.partnerRate | currency}}</td>
                    <td>
                        <a ng-click="vm.launchRateChange(teacher)" class="btn">Edit rate</a>
                    </td>
                </tr>

                <tr no-items-row items="vm.teachers"></tr>

            </tbody>
        </table>
    </section-content>
</section>
